.middle-navigation {
  @include media('<=991px') {
    display: none;
  }
  &__container {
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 15px;
  }

  &__logo-link {
    padding-top: 19px;
    margin-right: auto;
  }

  &__logo-img {
  }

  &__director {
    display: flex;
    align-items: center;
    align-self: flex-start;
    max-width: 400px;
    margin-left: auto;
    padding-top: 7px;
    @include media('<=768px') {
      max-width: 300px;
    }
  }

  &__director-img-wrapper {
    display: block;
    width: 81px;
    flex: 0 1 81px;
    min-width: 81px;
    height: 81px;
    border-radius: 50%;
    margin-right: 13px;
  }

  &__director-img {
    border: 2px solid #323941;
  }

  &__director-items {
    text-align: left;
  }

  &__director-name {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  &__director-description {
    margin-bottom: 4px;
    font-size: 13px;
    line-height: 119.3%;
    color: #84888d;
  }

  &__director-link {
    display: block;
    color: #009eff;
    font-size: 13px;
  }
}
