.top-swiper {
  &__actions {
    background-color: #31363B;
    @include media('<=576px') {
      border-bottom: 1px solid #323941;
    }
  }

  &__actions-swiper {
  }

  &__actions-slide {
    @include reset-btn();

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 48px;
    padding: 0 12px; 

    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;

    color: #ffffff;
    background-color: #323941;

    transition: all 0.3s ease !important;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url(/icon-top-swiper-triangle.svg);
      background-repeat: no-repeat;
      width: 10px;
      height: 6px;
      opacity: 0;
      display: none;
      @include media('<=991px') {
        display: block;
      }
    }

    &.swiper-slide-active {
      background-color: #009eff;
      &::before {
        opacity: 1;
      }
    }
    @include media('<=991px') {
      min-height: 39px;
      font-size: 14px;
      width: auto !important;
    }
  }

  &__all-swipers {
    position: relative;
    background-color: #3d434a;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      height: 1px;
      width: 100%;
      z-index: 10;
      background-color: #474d54;
      @include media('<=768px') {
        display: none;
      }
    }
  }

  &__container {
    @include media('<=768px') {
      overflow: hidden;
      max-height: 103px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__main-container {
  }

  &__parent-swiper {
  }
  &__parent-slide {
  }

  &__swiper {
    overflow-x: hidden;
    position: relative;
    @include media('<=768px') {
      padding-left: 16px;
      padding-right: 16px;
    }
    .swiper-slide {
      transition: all 0.3s ease;
      flex: 0 1 calc(100% / 7);
      @include media('<=768px') {
        flex: 0 0 auto;
      }
    }

    .swiper-wrapper {
      flex-wrap: wrap;
      @include media('<=768px') {
        flex-wrap: nowrap;
      }
    }
  }

  &__item {
    overflow-x: hidden;
    &.accent {
      @include media('<=768px') {
        order: -1;
      }
      .top-swiper__link {
        background-color: rgba(0, 0, 0, 0.2);
        &::before {
          opacity: 0.4;
          @include media('<=768px') {
            opacity: 0.67;
          }
        }
        &::after {
          opacity: 1;
        }
      }
      .top-swiper__name {
        color: #fff;
      }
      img {
        transform: scale(0.95);
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 13px 0 10px 0;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: 0;
    transition: all 0.5s ease;

    &::before {
      content: '';
      position: absolute;
      width: 57px;
      height: 57px;
      border-radius: 50%;
      top: 23px;
      right: 50%;
      transform: translateX(50%);

      background: #ffffff;
      opacity: 0;
      filter: blur(20px);
      transition: all 0.3s ease;
      @include media('<=768px') {
        top: 20px;
        width: 42px;
        height: 42px;
        filter: blur(15px);
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      width: 57px;
      height: 57px;
      bottom: 0;
      height: 2px;
      width: 100%;
      background: #ffffff;
      opacity: 0;
      transition: all 0.3s ease;
      @include media('<=768px') {
        background: #009eff;
      }
    }

    &:hover
    // Убрал фокус, чтобы не было нареканий что не нажимается ссылка
    // &:focus 
    {
      background-color: rgba(0, 0, 0, 0.2);
      &::before {
        opacity: 0.4;
        @include media('<=768px') {
          opacity: 0.67;
        }
      }
      &::after {
        opacity: 1;
        @include media('<=768px') {
          background: #009eff;
        }
      }
      .top-swiper__name {
        color: #fff;
      }
      img {
        transform: scale(0.95);
      }
    }
    @include media('<=768px') {
      padding: 10px 0 7px 0;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 18px;
    line-height: 22px;
    color: #53595f;
    font-weight: 600;
    z-index: 2;
    @include media('<=991px') {
      font-size: 16px;
    }
    @include media('<=576px') {
      font-size: 12px;
    }
  }

  &__img-wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    z-index: 2;
    @include media('<=768px') {
      height: 58px;
      width: 58px;
    }
    &.ready {
      span {
        overflow: visible !important;
      }
    }
    img {
      transition: all 0.3s ease;
    }
  }

  &__navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;

    width: 100%;

    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 0;

    display: none;
    @include media('<=768px') {
      display: flex;
    }
    &.disabled {
      .top-swiper__nav_prev {
        opacity: 0;
        z-index: -1;
        visibility: hidden;
      }
    }
  }

  &__nav {
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0;
    &.swiper-button-disabled {
      opacity: 0;
      z-index: -1;
    }
    &_prev {
    }

    &_next {
    }
  }

  &__icon {
    font-size: 27px;
    color: #009eff;
  }
}
