.top-swiper {
  background-color: #323941;
  &__container {
    @include media("<=768px") {
      overflow: hidden;
      max-height: 105px;
    }
  }

  &__swiper {
    overflow-x: hidden;
    position: relative;
  }

  .swiper-slide {
    transition: all 0.3s ease;
    flex: 0 1 calc(100% / 7);
    @include media("<=768px") {
      flex: 0 0 auto;
    }
  }

  .swiper-wrapper {
    flex-wrap: wrap;
    @include media("<=768px") {
      flex-wrap: nowrap;
    }
  }

  &__item {
    &.accent {
      .top-swiper__link {
        background-color: #009eff;
      }
      .top-swiper__name {
        color: #fff;
      }
    }
  }

  &__link {
    display: block;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: 0;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      background-color: #009eff;
      .top-swiper__name {
        color: #fff;
      }
      img {
        transform: scale(0.95);
      }
    }
  }

  &__name {
    display: inline-block;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 18px;
    line-height: 22px;
    color: #53595f;
    font-weight: 600;
    @include media("<=576px") {
      font-size: 12px;
    }
  }

  &__img-wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    @include media("<=768px") {
      height: 58px;
      width: 58px;
    }
    &.ready {
      span {
        overflow: visible !important;
      }
    }
    img {
      transition: all 0.3s ease;
    }
  }


  &__navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;

    width: 100%;

    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 0;

    display: none;
    @include media("<=768px") {
      display: flex;
    }
    &.disabled {
      .top-swiper__nav_prev {
        opacity: 0;
        z-index: -1;
        visibility: hidden;
      }
    }
  }

  &__nav {
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    &_prev {
    }

    &_next {
    }
  }

  &__icon {
    font-size: 27px;
    color: #009eff;
  }
}
