.accessories-slider {
  background-color: #fff;

  .swiper-scrollbar-drag {
    background-color: #009eff;
  }

  &_hide-other-accessories {
    .swiper-slide:nth-child(9) ~ .swiper-slide {
      display: none;
    }
  }

  &__container {
    padding-top: 60px;
    padding-bottom: 80px;
    @include media('<=991px') {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @include media('<=768px') {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__swiper {
    position: relative;
    @include media('<=768px') {
      margin-bottom: 0;
      padding-left: 16px;
      padding-right: 16px;
      &::before {
        @include media('<=768px') {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 90px;
          height: 100%;
          background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
          z-index: 10;
          pointer-events: none;
        }
      }
    }
  }

  &__swiper-container {
    overflow-x: hidden;
  }

  .swiper-slide {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 33.33%;
    padding: 0 12px 50px 12px;
    height: auto;
    @include media('<=768px') {
      flex: 0 0 auto;
      padding: 0;
    }
  }

  .swiper-wrapper {
    flex-wrap: wrap;
    @include media('<=768px') {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__swiper-scrollbar {
    display: none;
    margin: 0 16px;
    height: 5px;
    margin-top: 20px;
    background-color: #ebebeb;
    @include media('<=768px') {
      display: block;
      overflow-x: hidden;
      border-radius: 10px;
    }
  }

  &__item {
    &:nth-child(7) .accessories-slider__img {
      left: 15px !important;
      bottom: 13px !important;
      transform: scale(0.9);
      @include media('<=768px') {
        left: 10px !important;
        bottom: 0 !important;
      }
    }
    &:nth-child(9) .accessories-slider__img {
      bottom: 11px !important;
      transform: scale(0.9);
      @include media('<=768px') {
        bottom: -2px !important;
      }
    }
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;

    &:hover,
    &:focus {
      .accessories-slider__img-wrapper {
        &::before {
          background-color: #009eff;
        }
      }
      .accessories-slider__img_default {
        opacity: 0;
      }
      .accessories-slider__img_circle {
        opacity: 1;
      }
    }

    @include media('<=768px') {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include media('<=576px') {
      padding-left: 0;
      padding-right: 0;
    }
    @include media('<=480px') {
      align-items: flex-start;
    }
  }

  &__img-wrapper {
    position: relative;
    width: 160px;
    height: 160px;
    margin: 0 auto 20px auto;
    text-align: center;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 133px;
      height: 133px;
      background-color: #eeeeee;
      border-radius: 50%;
      transition: all 0.3s ease;
      @include media('<=768px') {
        width: 128px;
        height: 128px;
      }
    }
    @include media('<=768px') {
      width: 140px;
      height: 140px;
      margin-bottom: 10px;
    }
  }

  &__img {
    z-index: 10;
    transition: all 0.3s ease;
    &_default {
      opacity: 1;
    }
    &_circle {
      opacity: 0;
    }
  }

  &__name {
    margin-bottom: 15px;
    white-space: pre-line;
    @include media('<=768px') {
      margin-bottom: 8px;
      text-align: center;
      font-size: 16px;
    }
    @include media('<=576px') {
      font-size: 14px;
    }
    @include media('<=480px') {
      text-align: left;
    }
  }

  &__description {
    margin-bottom: auto;
    height: 79px;
    @include media('<=768px') {
      text-align: center;
      height: auto;
      margin-bottom: 10px;
    }
    @include media('<=480px') {
      text-align: left;
    }
  }

  &__description-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    @include media('<=768px') {
      -webkit-line-clamp: unset;
    }
  }

  &__prices {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto 0 18px 0;
    white-space: nowrap;
    @include media('<=768px') {
      margin-bottom: 13px;
    }
  }

  &__price-current {
    font-size: 18px;
    font-weight: 600;
    @include media('<=768px') {
      font-size: 16px;
    }
  }

  &__price-plan-number {
    text-transform: uppercase;
    color: #979797;
    font-size: 18px;
    line-height: 22px;
  }

  &__price-period {
    display: flex;
    align-items: flex-end;
  }

  &__price-period-key {
    font-size: 18px;
    line-height: 22px;
    color: #979797;
    text-transform: uppercase;
    @include media('<=768px') {
      font-size: 13px;
    }
  }

  &__price-period-value {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #979797;
    text-transform: uppercase;
    @include media('<=768px') {
      font-size: 9px;
    }
  }

  &__price-separator {
    display: inline-block;
    margin: 2px 8px 0 8px;

    font-weight: 600;
    font-size: 11px;
    line-height: 10px;
    color: #979797;
    text-transform: uppercase;
    &::selection {
      background-color: transparent;
    }
    @include media('<=768px') {
      margin: 3px 5px 0 5px;
      font-size: 8px;
      line-height: 8px;
    }
  }

  &__add-cart {
    margin: auto auto 0 auto;
    white-space: nowrap;
    
    max-width: 130px;
    width: 130px;

    &.ui-btn_added {
      background-color: #6acd68;
    }

    @include media('<=480px') {
      margin-top: 0;
    }
  }
  &__bottom-link {
    padding-left: 70px;
    padding-right: 70px;
    font-size: 18px;
    font-weight: 600;
    @include media('<=768px') {
    }
  }
}

.accessories-block {
  background-color: #fff;
  &__title-with-description {
    margin-top: 48px;
    margin-bottom: 62px;
    @include media('<=991px') {
      margin-top: 40px;
      margin-bottom: 0;
    }
  }
  &__container {
    padding-bottom: 67px;
    @include media('<=991px') {
      padding-top: 0;
      padding-bottom: 35px;
    }
  }

  &__items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(230px, 295px));
    column-gap: 40px;
    row-gap: 48px;
    @include media('<=991px') {
      grid-template-columns: 1fr 1fr;
    }
    @include media('<=768px') {
      margin-bottom: 0;
      column-gap: 20px;
      row-gap: 28px;
    }

    @include media('<=576px') {
      column-gap: 10px;
    }
  }

  &__item {
    &:nth-child(7) .accessories-block__img {
      left: 15px !important;
      bottom: 13px !important;
      transform: scale(0.9);
      @include media('<=768px') {
        left: 10px !important;
        bottom: 0 !important;
      }
    }
    &:nth-child(9) .accessories-block__img {
      bottom: 11px !important;
      transform: scale(0.9);
      @include media('<=768px') {
        bottom: -2px !important;
      }
    }
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    &:hover,
    &:focus {
      outline: none;
      .accessories-block__img-wrapper::before {
        background-color: #009eff;
      }
      .accessories-block__img {
        transform: scale(0.95);
      }
    }
    @include media('<=768px') {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include media('<=576px') {
      padding-left: 0;
      padding-right: 0;
    }
    @include media('<=480px') {
      align-items: flex-start;
    }
  }

  &__img-wrapper {
    position: relative;
    width: 160px;
    height: 160px;
    margin: 0 auto 20px auto;
    text-align: center;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 133px;
      height: 133px;
      background-color: #eeeeee;
      border-radius: 50%;
      transition: all 0.3s ease;
      @include media('<=768px') {
        width: 110px;
        height: 110px;
      }
    }
    @include media('<=768px') {
      width: 140px;
      height: 140px;
      margin-bottom: 10px;
    }
  }

  &__img {
    z-index: 10;
    transition: all 0.3s ease;
  }

  &__name {
    margin-bottom: 15px;
    white-space: pre-line;
    @include media('<=991px') {
      margin-bottom: 8px;
      text-align: center;

      font-size: 18px;
      line-height: 23px;
    }

    @include media('<=576px') {
      text-align: left;
      margin-right: auto;
    }
  }

  &__description {
    margin-bottom: 15px;
    @include media('<=991px') {
      text-align: center;
    }
    @include media('<=576px') {
      text-align: left;
    }
  }
  
  &__prices {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto 0 18px 0;
    white-space: nowrap;
    @include media('<=768px') {
      margin-bottom: 13px;
    }
  }

  &__price-current {
    font-size: 18px;
    font-weight: 600;
    @include media('<=768px') {
      font-size: 16px;
    }
  }

  &__price-plan-number {
    text-transform: uppercase;
    color: #979797;
    font-size: 18px;
    line-height: 22px;
  }

  &__price-period {
    display: flex;
    align-items: flex-end;
  }

  &__price-period-key {
    font-size: 18px;
    line-height: 22px;
    color: #979797;
    text-transform: uppercase;
    @include media('<=768px') {
      font-size: 13px;
    }
  }

  &__price-period-value {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #979797;
    text-transform: uppercase;
    @include media('<=768px') {
      font-size: 9px;
    }
  }

  &__price-separator {
    display: inline-block;
    margin: 2px 8px 0 8px;

    font-weight: 600;
    font-size: 11px;
    line-height: 10px;
    color: #979797;
    text-transform: uppercase;
    &::selection {
      background-color: transparent;
    }
    @include media('<=768px') {
      margin: 3px 5px 0 5px;
      font-size: 8px;
      line-height: 8px;
    }
  }

  &__add-cart {
    margin: auto auto 0 auto;
    white-space: nowrap;
    
    max-width: 130px;
    width: 130px;

    &.ui-btn_added {
      background-color: #6acd68;
    }

    @include media('<=576px') {
      margin-top: 0;
      width: 100%;
      max-width: unset;
    }
  }
}
