.reviews {
  background-color: #f5f5f5;
  &__container {
    padding-top: 65px;
    padding-bottom: 100px;
    text-align: center;
    @include media("<=991px") {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 35px;
    @include media("<=991px") {
      margin-bottom: 40px;
    }
  }

  &__swiper {
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
    @include media("<=768px") {
      padding-left: 0;
      padding-right: 0;
    }
    &::before {
      @include media("<=768px") {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 90px;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0), #f5f5f5);
        z-index: 10;
      }
    }
  }

  &__item {
    padding: 55px 8px 50px 8px;
    border: 3px solid #009eff;
    background-color: #fff;

    @include media("<=768px") {
      border-color: #323941;
      border-width: 1.5px;
      padding: 30px 5px;
    }
  }

  &__img-wrapper {
  }

  &__img {
  }

  &__navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 0;

    @include media("<=768px") {
      margin: 0 auto;
      width: calc(100% - 20px);
    }
  }

  &__nav {
    width: 70px;
    height: 70px;
    border: 3px solid #009eff;
    background-color: #fff;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      background-color: #f3f3f3;
    }
    &_prev {
    }

    &_next {
    }

    @include media("<=768px") {
      width: 40px;
      height: 40px;
    }
  }

  &__icon {
    font-size: 40px;
    color: #009eff;
    @include media("<=768px") {
      font-size: 22px;
    }
  }
}
