.payments-methods {
  &__payments-title {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    @include media('<=991px') {
      display: block;
    }
    @include media('<=768px') {
      font-size: 18px;
      line-height: 22px;
    }
    @include media('<=480px') {
      text-align: center;
      font-weight: 300;
      margin-bottom: 18px;
    }
    &_desktop {
      @include media('<=768px') {
        .payments-methods__payments-item_2,
        .payments-methods__payments-item_3 {
          display: none;
        }
      }
    }
    &_mobile {
      display: none;
      margin-bottom: 0;
      @include media('<=768px') {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }

  &__payments-item {
    @include media('<=991px') {
    }
    @include media('<=768px') {
    }
    &_1 {
      margin-right: 3px;
      font-size: 18px;
      line-height: 22px;
      color: #999999;
      @include media('<=768px') {
        text-align: center;
      }
      @include media('<=480px') {
        color: #323941;
      }
    }

    &_2 {
      display: inline-flex;
      align-items: center;
      margin-right: 3px;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #009eff;
    }

    &_3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #6acd68;
    }
  }

  &__payments-methods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24px, 25px));
    gap: 6px;
    @include media('<=768px') {
      justify-content: center;
      margin-bottom: 15px;
      grid-template-columns: repeat(auto-fit, minmax(24px, 1fr));
    }
    @include media('<=575px') {
      grid-template-columns: repeat(8, 1fr);
      gap: 3px;
      margin-bottom: 17px;
    }
  }

  &__payments-method {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background-color: #fff;
    @include media('<=575px') {
      height: 25px;
    }
  }

  &__payments-method-icon-wrapper {
    position: relative;
    height: 70%;
    width: 100%;
    @include media('<=991px') {
    }
    @include media('<=768px') {
    }
  }

  &__a-icon-wrapper {
    position: relative;
    margin-left: 5px;
    width: 17px;
    height: 12px;
  }
}
