.compare-specfications {
  &__container {
    margin-top: 90px;
    margin-bottom: 150px;
    @include media('<=991px') {
      margin-top: 50px;
      // margin-bottom: 40px;
      margin-bottom: 100px;
    }
    @include media('<=768px') {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__title {
    margin-bottom: 18px;
    text-align: center;
    @include media('<=991px') {
      margin-bottom: 9px;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 75px;
    @include media('<=991px') {
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 45px;
    }
    @include media('<=768px') {
      font-weight: 300;
    }
  }

  &__main-slide-with-swiper {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 90%;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
      z-index: 10;
      @include media('<=576px') {
        display: none;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 220px;
      height: 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
      z-index: 10;
      pointer-events: none;
      @include media('<=576px') {
        width: 50px;
      }
    }

    @include media('<=768px') {
      display: flex;
    }
  }

  &__main-slide {
  }

  &__second-slide {
    display: none;
    @include media('<=768px') {
      display: block;
    }
  }

  &__swiper {
    @include media('<=768px') {
      display: none;
    }
  }

  &__slide {
    transition: all 0.1s ease;
    &.swiper-slide-active {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
    &:hover {
    }

    &.hidden {
      display: none;
    }
  }

  &__img-wrapper {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 168px;
    @include media('<=991px') {
      margin-bottom: 10px;
    }
    @include media('<=768px') {
    }

    @include media('<=576px') {
      width: 120px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__img {
    transition: all 0.3s ease;
  }

  &__name {
    padding-left: 15px;
    margin-bottom: 30px;
    text-align: left;
    white-space: nowrap;
    @include media('<=991px') {
      text-align: left;
      margin-bottom: 15px;
      padding-left: 0;
      font-size: 18px;
      line-height: 23px;
    }
    @include media('<=576px') {
      padding-left: 15px;
      padding-right: 15px;
      height: 46px;
      white-space: inherit;
    }
  }

  &__items {
    margin-bottom: 60px;
    @include media('<=768px') {
      padding-left: 0;
      margin-bottom: 25px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
      @include media('<=768px') {
        margin-bottom: 0;
      }
    }

    &:nth-child(odd) {
      @include media('<=768px') {
        background-color: #f5f5f5;
      }
    }

    @include media('<=768px') {
    }

    @include media('<=768px') {
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 15px;
    }
  }

  &__item-key {
    position: relative;
    display: flex;
    align-items: center;
    color: #009eff;
    font-size: 18px;
    padding-bottom: 9px;
    color: transparent;

    text-overflow: ellipsis;
    white-space: nowrap;
    &::selection {
      background-color: transparent;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -15px;
      width: calc(100% + 15px);
      height: 1px;
      background-color: #ececec;
      @include media('<=768px') {
        display: none;
      }
    }
    @include media('<=576px') {
      padding-bottom: 16px;
      font-size: 18px;
      line-height: 87.3%;
    }
  }

  &__item-icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    @include media('<=576px') {
      display: none;
    }
  }

  &__item-value {
    padding-top: 5px;
    font-size: 18px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @include media('<=1200px') {
      font-size: 16px;
    }
    @include media('<=991px') {
    }

    @include media('<=768px') {
    }

    @include media('<=576px') {
      padding-top: 0;
      font-size: 14px;
    }
    @include media('<=480px') {
      font-size: 14px;
    }
    @include media('<=420px') {
      font-size: 12px;
    }
  }

  &__price {
    text-align: left;
    margin: 0 0 15px 65px;
    @include media('<=991px') {
      font-size: 20px;
      line-height: 23px;
    }
    @include media('<=768px') {
      text-align: left;
      margin-right: 0;
      margin-left: 15px;
    }
  }

  &__buy-btn {
    display: flex;
    width: 100%;
    max-width: 187px;
    margin: 0 auto 0 20px;
    font-size: 18px;
    font-weight: bold;
    @include media('<=768px') {
      font-size: 16px;
      white-space: nowrap;
      margin: 0 auto 0 15px;
    }
    @include media('<=576px') {
      max-width: 160px;
    }
  }

  &__see-details {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 44px;
    width: 100%;
    max-width: 187px;
    margin: 0 auto 0 20px;

    font-size: 18px;
    line-height: 22px;
    color: #999999;
    @include media('<=768px') {
      height: 41px;
      font-size: 16px;
      white-space: nowrap;
      margin: 0 auto 0 15px;
    }
    @include media('<=576px') {
      max-width: 160px;
    }
  }

  &__navigation {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    width: 120%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    height: 0;

    &.disabled-left {
      .compare-specfications__nav_prev {
        opacity: 0;
        z-index: -1;
        pointer-events: none;
      }
    }

    &.disabled-right {
      .compare-specfications__nav_next {
        opacity: 0;
        z-index: -1;
        pointer-events: none;
      }
    }

    @include media('<=1200px') {
      width: 105%;
    }

    @include media('<=1000px') {
      width: 100%;
    }

    @include media('<=768px') {
      display: none;
    }
  }

  &__nav {
    width: 70px;
    height: 70px;
    border: 3px solid #009eff;
    background-color: #fff;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      background-color: #fff;
    }

    &_prev {
    }

    &_next {
    }

    @include media('<=1200px') {
      width: 40px;
      height: 40px;
    }
  }

  &__icon {
    font-size: 40px;
    color: #009eff;
    @include media('<=768px') {
      font-size: 22px;
    }
  }

  .swiper-slide {
    transition: all 0.3s ease;
  }
}

.main-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  z-index: 100;

  @include media('<=768px') {
    position: static;
    flex: 1;
  }

  &__wrapper {
  }

  &__header {
    @include media('<=768px') {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &-left {
    }
    &-right {
      display: none;
      @include media('<=768px') {
        display: block;
      }
    }
  }

  &__img-wrapper {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 168px;
    @include media('<=991px') {
      margin-bottom: 10px;
    }

    @include media('<=768px') {
      margin-left: auto;
      margin-right: auto;
      width: 116px;
      height: 126px;
    }
  }

  &__img {
    transition: all 0.3s ease;
  }

  &__img-compare-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    width: 116px;
    height: 126px;

    cursor: pointer;
  }
  &__img-compare {
    &.selected {
      width: 116px;
      height: 126px;
      object-fit: contain;
    }
  }

  &__name {
    padding-left: 15px;
    margin-bottom: 30px;
    text-align: left;
    white-space: nowrap;
    @include media('<=991px') {
      margin-bottom: 15px;
      padding-left: 0;
      font-size: 18px;
      line-height: 23px;
      text-align: left;
    }
    @include media('<=768px') {
      padding-left: 15px;
      padding-right: 15px;
      height: 46px;
      white-space: inherit;
      text-align: center;
      margin: 0 auto 10px auto;
      max-width: 200px;
    }
  }

  &__items {
    margin-bottom: 60px;
    padding-left: 15px;
    @include media('<=768px') {
      padding-left: 0;
      margin-bottom: 25px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
      @include media('<=768px') {
        margin-bottom: 0;
      }
    }
    &:nth-child(odd) {
      @include media('<=768px') {
        background-color: #f5f5f5;
      }
    }

    @include media('<=768px') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__item-left {
  }
  &__item-right {
    display: none;
    .main-slide__item-key {
      opacity: 0;
    }
    @include media('<=768px') {
      display: block;
    }
    @include media('<=576px') {
      padding-left: 15px;
    }
  }

  &__item-key {
    position: relative;
    display: flex;
    align-items: center;
    color: #009eff;
    font-size: 18px;
    padding-bottom: 9px;

    text-overflow: ellipsis;
    white-space: nowrap;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -15px;
      width: calc(100% + 15px);
      height: 1px;
      background-color: #ececec;
      @include media('<=768px') {
        display: none;
      }
    }

    @include media('<=576px') {
      padding-bottom: 16px;
      font-size: 18px;
      line-height: 87.3%;
    }
  }

  &__item-icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    @include media('<=576px') {
      display: none;
    }
  }

  &__item-value {
    padding-top: 5px;
    font-size: 18px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @include media('<=1200px') {
      font-size: 16px;
    }
    @include media('<=991px') {
    }

    @include media('<=768px') {
    }

    @include media('<=576px') {
      padding-top: 0;
      font-size: 18px;
      line-height: 120%;

      text-overflow: unset;
      overflow: visible;
      white-space: unset;
    }
    @include media('<=480px') {
    }
    @include media('<=420px') {
    }
    &_payload,
    &_weight,
    &_range {
      white-space: pre-line;
    }
  }

  &__bottom {
    @include media('<=768px') {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &-left {
    }
    &-right {
      display: none;
      @include media('<=768px') {
        display: block;
      }
    }
  }

  &__price {
    text-align: left;
    margin: 0 0 15px 65px;
    @include media('<=991px') {
      font-size: 20px;
      line-height: 23px;
    }
    @include media('<=768px') {
      text-align: left;
      margin-right: 0;
      margin-left: 15px;
    }
  }

  &__buy-btn {
    display: flex;
    width: 100%;
    max-width: 187px;
    margin: 0 auto 0 20px;
    font-size: 18px;
    font-weight: bold;
    &.added {
      pointer-events: none;
      background-color: #6acd68;
      border &::after {
        border: #6acd68 !important;
      }
      span {
        color: #fff;
      }
    }
    @include media('<=768px') {
      font-size: 16px;
      white-space: nowrap;
      margin: 0 auto 0 15px;
    }
    @include media('<=576px') {
      max-width: 160px;
    }
  }

  &__see-details {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 44px;
    width: 100%;
    max-width: 187px;
    margin: 0 auto 0 20px;

    font-size: 18px;
    line-height: 22px;
    color: #999999;
    @include media('<=768px') {
      height: 41px;
      font-size: 16px;
      white-space: nowrap;
      margin: 0 auto 0 15px;
    }
    @include media('<=576px') {
      max-width: 160px;
    }
  }

  &_second {
    .main-slide__name {
      color: #999999;
    }
    .main-slide__item-key {
      opacity: 0;
    }
    &.empty {
      .main-slide__item-value {
        text-align: center;
        padding-right: 15px;
        @include media('<=420px') {
          padding-left: 10px;
        }
      }
    }
  }
}

.compare-modal {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  transition: all 0.3s ease;

  z-index: -1;
  opacity: 0;
  visibility: hidden;

  overflow-y: scroll;

  &.active {
    z-index: 10000;
    opacity: 1;
    visibility: visible;
  }

  @include media('<=576px') {
    align-items: flex-start;
  }

  &__wrapper {
    position: relative;
    padding: 22px 17px 25px 17px;
    background-color: #fff;
    text-align: center;
  }

  &__title {
    max-width: 180px;
    margin: 0 auto 35px auto;
    font-size: 20px;
    line-height: 24px;
  }

  &__icon-close {
    position: absolute;
    top: 22px;
    right: 17px;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(102px, 1fr));
  }

  &__item {
    @include reset-btn();
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 13px;
    border: 1px solid #f5f5f5;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover,
    &:focus {
      .compare-modal__name {
        color: #fff;
      }
      background: #009eff;
      border: 1px solid #f5f5f5;
    }

    &.active {
      .compare-modal__item-check {
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }
    }

    &_hidden {
      display: none;
    }
  }

  &__img-wrapper {
    width: 52px;
    margin-bottom: 7px;
    pointer-events: none;
  }

  &__name {
    font-weight: 600;
    font-size: 15px;
    line-height: 119.3%;
    color: #323941;
    pointer-events: none;
  }

  &__item-check {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 30px 10px 13px 10px;
    background-color: #009eff;
    transition: all 0.3s ease;

    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  &__item-check-icon {
    margin-bottom: 24px;
  }
  &__item-check-text {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 119.3%;
    color: #ffffff;
  }
}
