.wholesale {
  &__title-with-description {
    margin-top: 48px;
    margin-bottom: 52px;
    @include media('<=991px') {
      margin-top: 22px;
    }
  }
  &__container {
    margin-bottom: 93px;
    @include media('<=991px') {
      margin-bottom: 71px;
    }
  }
  &__form {
    position: relative;
    padding: 36px 20px 68px 20px;
    text-align: center;
    border: 5px solid #009eff;
    max-width: 719px;
    margin-left: auto;
    margin-right: auto;
    @include media('<=991px') {
      padding: 25px 27px 48px 27px;
      border-width: 3px;
    }
  }
  &__form-title {
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    @include media('<=991px') {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__form-input {
    display: block;
    height: 52px;
    width: 100%;
    max-width: 393px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    outline: 0;
    border: 0;
    border-bottom: 2px solid #acaeb0;

    font-weight: 600;
    font-size: 18px;
    color: #acaeb0;

    &::placeholder {
      font-weight: 600;
      font-size: 18px;
      color: #acaeb0;
      @include media('<=991px') {
        font-size: 16px;
      }
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    @include media('<=991px') {
      font-size: 16px;
      max-width: 255px;
      height: 50px;
      border-bottom: 1px solid #acaeb0;
    }
  }
  &__form-img-wrapper {
    margin-bottom: 39px;
    @include media('<=991px') {
      margin-bottom: 26px;
    }
  }

  &__form-btn {
    position: absolute;
    top: calc(100% - 95px / 2);
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 394px;
    height: 95px;

    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    overflow: hidden;
    &.loading {
      overflow: hidden;
      transition: all 0.3s ease;
      pointer-events: none;
      cursor: wait;
      background-color: #009eff;
      color: #fff;
      border-color: transparent;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 150%;
        height: 100%;
        opacity: 1;
        background: repeating-linear-gradient(
        60deg, 
        transparent, 
        transparent 0.75rem, 
        rgba(255,255,255,.1) 0.75rem, 
        rgba(255,255,255,.1) 1.5rem);
        animation: load 1s infinite linear;
        transition: all .3s ease;
        pointer-events: none;
      }
    }
    @include media('<=991px') {
      top: calc(100% - 65px / 2);
      max-width: 256px;
      height: 65px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}
