$rootClass: '.category-slider';

#{$rootClass} {
  &__container {
  }

  &__title {
    margin-bottom: 48px;
    text-transform: uppercase;
    @include media('<=768px') {
      margin-bottom: 30px;
      text-align: center;
    }
  }

  &__swiper {
    overflow: visible !important;
    clip-path: inset(-100vw -100vw -100vw 0);
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 172px;
    flex: 0 0 172px;
    height: auto;

    &::selection {
      background-color: transparent;
    }
    &:not(:last-child) {
      margin-right: 72px;
      @include media('<=768px') {
        margin-right: 17px;
      }
    }

    @include media('<=768px') {
      width: 133px;
      flex: 0 0 133px;
    }

    &_accessory {
      #{$rootClass} {
        &__image {
          margin-bottom: 4px;
        }
        &__name {
          height: 70px;
          margin-bottom: 4px;
          @include media('<=576px') {
            height: 50px;
          }
        }
      }
    }
  }

  &__img-with-content {
    position: relative;
  }

  &__image {
    position: relative;
    width: 160px;
    height: 160px;
    margin: 0 auto 20px auto;
    text-align: center;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 133px;
      height: 133px;
      background-color: #eeeeee;
      border-radius: 50%;
      transition: all 0.3s ease;
      @include media('<=768px') {
        width: 128px;
        height: 128px;
      }
    }
    &::selection {
      background-color: transparent;
    }
    img {
      &::selection {
        background-color: transparent;
      }
    }
    @include media('<=768px') {
      width: 140px;
      height: 140px;
      margin-bottom: 10px;
    }
  }

  &__name {
    margin-bottom: 12px;
    &::selection {
      background-color: transparent;
    }
    @include media('<=768px') {
      white-space: pre-wrap;
      font-size: 15px;
      line-height: 16px;
      margin-bottom: 8px;
    }
  }

  &__prices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    padding-bottom: 18px;
    white-space: nowrap;
    margin-top: auto;
    @include media('<=768px') {
      padding-bottom: 13px;
    }
  }

  &__price {
    color: #323941;
    font-weight: 600;

    @include media('<=768px') {
      font-size: 13px;
      line-height: 16px;
    }
    &::selection {
      background-color: transparent;
    }
    &_alt {
      text-transform: uppercase;
      color: #979797;
      font-weight: 400;
      font-size: 18px;
      @include media('<=768px') {
        font-size: 13px;
      }
      span {
        font-size: 12px;
        line-height: 12px;
        font-weight: 600;
        @include media('<=768px') {
          font-size: 9px;
          line-height: 9px;
        }
        &::selection {
          background-color: transparent;
        }
      }
    }
  }

  &__price-separator {
    display: inline-block;
    margin: 2px 8px 0 8px;

    font-weight: 600;
    font-size: 11px;
    line-height: 10px;
    color: #979797;
    text-transform: uppercase;
    &::selection {
      background-color: transparent;
    }
    @include media('<=768px') {
      margin: 0 6px;
      font-size: 8px;
      line-height: 8px;
    }
  }

  &__see-more {
    margin: 0 auto;
    max-width: 130px;
    width: 130px;
    span {
      &::selection {
        background-color: transparent;
      }
    }
    @include media('<=768px') {
      width: 100%;
      flex: 1 1 auto;
    }
  }

  &__scrollbar {
    margin: 55px 0 0 0;
    height: 4px;
    border-radius: 10px;
    background-color: #eeeeee;
    &_white {
      background-color: #fff;
    }
    .swiper-scrollbar-drag {
      height: 100%;
      background-color: #009eff;
    }
    @include media('<=768px') {
      margin-top: 16px;
    }
  }

  &__overlay-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    &:hover,
    &:focus {
      + #{$rootClass}__image {
        &::before {
          background-color: #009eff;
        }
      }
    }
  }

  &.disable-scroll-for-desktop {
    #{$rootClass} {
      &__swiper {
        .swiper-wrapper {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          justify-content: space-between;
          gap: 30px;
          @include media('<=991px') {
            grid-template-columns: repeat(3, 1fr);
          }
          @include media('<=768px') {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }

      &__item {
        height: auto;
        margin: 0 auto;
        &:not(:last-child) {
          margin-right: auto;
        }
      }
      &__scrollbar {
        display: none;
      }
    }
  }

  &.lg-title {
    #{$rootClass} {
      &__title {
        font-size: 58px;
        @include media('<=768px') {
          margin-bottom: 40px;
          font-size: 28px;
          line-height: 32px;
        }
      }
    }
  }

  &.accessoeries {
    #{$rootClass} {
      &__item {
        &:nth-child(7) #{$rootClass}__image img {
          left: 15px !important;
          bottom: 13px !important;
          transform: scale(0.9);
          @include media('<=768px') {
            left: 10px !important;
            bottom: 0 !important;
          }
        }
        &:nth-child(9) #{$rootClass}__image img {
          bottom: 11px !important;
          transform: scale(0.9);
          @include media('<=768px') {
            bottom: -2px !important;
          }
        }
        &:nth-child(10) #{$rootClass}__image img {
          bottom: 11px !important;
          transform: scale(0.9);
          @include media('<=768px') {
            bottom: -2px !important;
          }
        }
      }
    }
  }
}
