.top-category-slider {

  position: fixed;
  top: 152px;
  left: 0;
  right: 0;

  transition: all 0.3s ease;
  background-color: #323941;
  z-index: 100;

  &.stik-to-top {
    top: 48px;
    @include media('<=991px') {
      top: 50px;
    }
  }

  @include media('<=991px') {
    top: 50px;
  }
  
  &__container {
  }

  &__swiper {
    .swiper-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    text-align: center;
    flex: 1 1 auto;
  }

  &__link {
    font-weight: 700;
    font-size: 25px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    @include media('<=768px') {
      font-size: 14px;
      line-height: 40px;
    }
  }
}
