.top-category-slider {
  position: fixed;
  top: 152px;
  left: 0;
  right: 0;

  transition: all 0.3s ease;
  background-color: #323941;
  z-index: 110;

  &.stik-to-top {
    top: 48px;
    @include media('<=991px') {
      top: 50px;
    }
  }

  @include media('<=991px') {
    top: 50px;
  }

  &__container {
    @include media('<=991px') {
      padding: 0;
    }
  }

  &__swiper {
    .swiper-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      @include media('<=768px') {
        justify-content: flex-start;
      }
    }
  }

  &__item {
    position: relative;
    text-align: center;
    flex-basis: 33.33%;
    overflow: visible;

    font-weight: 700;
    font-size: 25px;
    line-height: 48px;

    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;

    @include media('<=991px') {
      padding: 0 14px;
      flex-basis: content;
    }

    a {
      color: #ffffff;
      text-decoration: none;
    }

    &:hover {
      background-color: rgba(0, 158, 255, 0.8);
    }

    @include media('<=768px') {
      font-size: 14px;
      line-height: 40px;
    }

    &.active {
      background-color: #009eff;
    }

  }
}

.top-category-slider-separator {
  height: 48px;
  @include media('<=991px') {
    height: 40px;
  }
}
