.product-modal {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 100px 15px 15px 15px;
  transition: all .3s ease;

  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;

  @include media('<=991px') {
    transform: unset;
    bottom: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: flex-end;
    padding: 0;
    overflow-y: scroll;
    height: 100%;
    overflow-y: hidden;
    pointer-events: none;
  }

  &.active {
    z-index: 1500;
    opacity: 1;
    visibility: visible;
    @include media('<=991px') {
      overflow-y: hidden;
    }
    .product-modal__wrapper {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
      @include media('<=991px') {
        top: 0%;
      }
    }
  }

  &.scroll-modal-to-bottom {
    .product-modal__wrapper {
      @include media('<=991px') {
        top: 100%;
      }
    }
  }

  &__wrapper {
    padding: 20px 17px 27px 17px;
    position: relative;
    width: 100%;
    max-width: 590px;
    background: linear-gradient(180deg, #ffffff 0%, #f3f3f3 100%);
    border: 10px solid #009eff;
    transition: all 0.4s ease;
    pointer-events: all;
    transform: scale(0.9);
    @include media('<=991px') {
      border: 0;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      max-width: none;
      display: flex;
      flex-direction: column;
      padding: 11px 0 11px 0;
      height: 50vh;
      min-height: 528px;
      top: 90%;
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }

    &.active {
      @include media('<=991px') {
        height: 90%;
      }
    }
  }

  &__header {
    @include media('<=991px') {
      padding: 0 16px;
    }
  }

  &__close-btn {
    @include reset-btn();
    position: absolute;
    left: calc(100% + 24px);
    top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 67px;
    background-color: #009eff;
    @include media('<=991px') {
      display: none;
    }
  }

  &__close-btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    @include media('<=991px') {
      padding: 0 8px;
      margin: 10px 8px 0 8px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 4px;
        border-radius: 100px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 100px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #323941;
        border-radius: 100px;
      }
    }
  }
  &__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 36px;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #e1e1e1;
      @include media('<=991px') {
        display: none;
      }
    }
    @include media('<=991px') {
      height: 58px;
      padding-bottom: 4px;
    }
  }

  &__top-title {
    font-size: 50px;
    line-height: 120%;
    @include media('<=991px') {
      font-size: 25px;
      line-height: 23px;
    }
  }

  &__top-img-wrapper {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
    display: block;
    width: 24px;
    cursor: pointer;
    display: none;
    @include media('<=991px') {
      display: block;
    }
  }

  &__top-actions {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    overflow-x: hidden;
    @include media('<=991px') {
      column-gap: 9px;
      padding-bottom: 24px;
      overflow-x: hidden;
    }
    &::before {
      display: none;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #e1e1e1;
      @include media('<=991px') {
        display: block;
      }
    }
    &_mobile {
      display: none;
      @include media('<=991px') {
        display: grid;
      }
    }
    &_desktop {
      @include media('<=991px') {
        display: none;
      }
    }
  }

  &__top-actions-item {
  }

  &__summ-and-products {
  }

  &__summ-area {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 16px;
    cursor: pointer;
    @include media('<=991px') {
      padding-top: 0;
    }
    &.active {
      .product-modal__summ-icon-arrow-up-wrapper {
        transform: rotate(0);
      }
    }
  }

  &__summ-icon-cart-wrapper {
    margin-right: 17px;
  }

  &__summ-title {
    font-size: 16px;
    line-height: 119.3%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: #009eff;
  }

  &__summ-icon-arrow-up-wrapper {
    position: relative;
    transform: rotate(180deg);
    transition: all 0.3s ease;
  }

  &__summ-total {
    font-size: 18px;
    margin-left: auto;
  }

  &__products-area {
    position: relative;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: #e1e1e1;
    }
    &.active {
      max-height: 100%;
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }

  &__product {
    padding: 7px 11px 9px 7px;
    border: 1px solid #dddddd;
    background-color: #fff;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__product-main-area {
    display: flex;
    align-items: center;
  }

  &__product-img-wrapper {
    position: relative;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    flex: 0 0 56px;
    width: 56px;
    height: 56px;

    margin-right: 20px;
    margin-left: 13px;
    @include media('<=991px') {
      margin-right: 15px;
    }
  }

  &__product-img {
    max-height: 100%;
    width: auto;
    height: auto;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #dddddd;
      z-index: -1;
    }
  }

  &__product-name-and-price {
    align-self: center;
    text-align: left;
    margin-right: auto;
    max-width: 140px;
  }

  &__product-name {
    display: block;
    margin-bottom: 1px;
    line-height: 110.8%;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
  }

  &__product-price {
    display: block;
    font-size: 13px;
    line-height: 119.3%;
    color: #999999;
  }

  &__product-counter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__product-count-minus {
    @include reset-btn();
    font-size: 15px;
    color: #323941;
  }

  &__product-count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 17px;
    padding-top: 2px;
    background-color: #009eff;
    width: 28px;
    flex: 0 0 28px;
    height: 28px;
    color: #fff;

    font-weight: 600;
    font-size: 19px;
  }

  &__product-count-plus {
    @include reset-btn();
    font-size: 15px;
    color: #323941;
  }

  &__product-warrancy-area {
  }

  &__product-warrancy-title {
    margin: 8px 0 12px 0;
    font-size: 18px;
    line-height: 22px;
    color: #323941;
    text-align: center;
  }

  &__product-warrancy-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4px;
  }

  &__product-warrancy {
    @include reset-btn();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid rgba(153, 153, 153, 0.33);
    &.selected {
      background-color: #009eff;
      .product-modal__product-warrancy-year,
      .product-modal__product-warrancy-price {
        color: #fff;
      }
    }
  }

  &__product-warrancy-year {
    font-size: 18px;
    line-height: 23px;
    color: #323941;
    margin-bottom: -1px;
    pointer-events: none;
  }

  &__product-warrancy-price {
    font-weight: bold;
    font-size: 18px;
    line-height: 104%;
    color: #009eff;
    margin-top: -1px;
    pointer-events: none;
  }

  &__accessoeries {
    position: relative;
    margin-top: 16px;
    margin-bottom: 30px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: #e1e1e1;
      height: 1px;
    }
  }
  &__accessoeries-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    line-height: 23px;
    text-align: center;
  }
  &__accessoeries-swiper-wrapper {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      height: 166px;
      width: 58px;
      pointer-events: none;
      z-index: 10;
      background: linear-gradient(270deg, #f5f5f5 0%, rgba(255, 255, 255, 0) 100%);
    }
  }
  &__accessoeries-swiper {
  }
  &__accessoeries-item {
    cursor: pointer;
    &.added {
      pointer-events: none;
      .product-modal__accessoeries-img-main-wrapper {
        border-color: rgba(0, 158, 255, 0.9);
      }
      .product-modal__accessoeries-overlay {
        z-index: 100;
        opacity: 1;
      }
    }
  }

  &__accessoeries-img-main-wrapper {
    pointer-events: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 166px;
    border: 2px solid #dddddd;
    margin-bottom: 5px;
    background-color: #fff;
    @include media('<=991px') {
      width: auto;
    }
  }

  &__accessoeries-img-wrapper {
    display: block;
    pointer-events: none;
    height: auto;
    transition: all 0.3s ease;
    width: 145px;
  }
  &__accessoeries-img {
    object-fit: contain;
    pointer-events: none;
  }
  &__accessoeries-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 158, 255, 0.9);

    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  &__accessoeries-overlay-text {
    position: absolute;
    right: 50%;
    bottom: 18px;
    transform: translateX(50%);
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
  }
  &__accessoeries-overlay-icon {
  }
  &__accessoeries-name {
    font-weight: 600;
    font-size: 15.9959px;
    line-height: 17px;
    color: #323941;
    pointer-events: none;
  }
  &__accessoeries-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 33px;
    color: #009eff;
    pointer-events: none;
  }

  &__navigation {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;

    margin: 0 auto;
    width: calc(100% - 64px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 0;

    &.disabled {
      .product-modal__nav_prev {
        opacity: 0;
        z-index: -1;
        visibility: hidden;
      }
    }
  }

  &__nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
    border: 1px solid #009eff;
    color: #009eff;

    background-color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    &_prev {
    }

    &_next {
    }
  }

  &__nav-icon {
    font-size: 24px;
    color: #009eff;
  }
}
