.feature-simple {
  position: relative;
  display: block;
  overflow: hidden;
  &__gradient {
  }
  &__main-image {
    > span {
      // Устанавливаем максимальную высоту для картинок, чтобы на больших экранах не расползалась
      max-height: 700px;
      @include media('<=576px') {
        max-height: unset;
      }
    }
  }

  &__main-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__inner-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media('<=576px') {
      justify-content: flex-end;
    }
  }
  &__content {
    white-space: pre-line;
    text-align: left;
    color: #ffffff;
    padding-top: 5%;
    padding-bottom: 5%;
    @include media('<=576px') {
      padding-bottom: 10%;
    }
    @include media('<=400px') {
      padding-bottom: 5%;
    }
  }
  &__title {
    margin-bottom: 18px;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 120%;
    font-weight: bold;
    @include media('<=991px') {
      font-size: 30px;
    }
    @include media('<=768px') {
      margin-bottom: 10px;

      font-size: 20px;
      line-height: 24px;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 22px;
    @include media('<=768px') {
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
    }
    b {
      font-weight: 600;
    }
  }
  &__description {
    margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
    color: #6c6c6c;
    @include media('<=768px') {
      margin-top: 15px;
      font-weight: 300;
      font-size: 11px;
      line-height: 18px;
      color: #aaaaaa;
    }
  }
  // Обычный класс
  // Центрирование контента слева
  // Расположение контента на мобилках снизу
  // Текст - белый
  &_ks-air-t15 {
    .feature-simple__main-image {
      > span {
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
      }
    }
  }
  &_type-1 {
    // Обычный класс
    // Центрирование контента слева
    // Расположение контента на мобилках снизу
    // Текст - черный
    .feature-simple__main-image {
      > span {
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
      }
    }
    .feature-simple__content {
      color: #000;
    }
  }
  // Десктоп: Картинка слева. Текст справа посередине
  // Мобилка: Картинка снизу. Текст вверху слева
  // Контент десктоп (ГxВxЦ) - центр / право / лево
  // Контент мобилка (ГxВxЦ) - центр / верх / лево
  // Цвет текста - темный
  &_type-2 {
    .feature-simple__main-image {
      > span {
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
      }
    }
    .feature-simple__content {
      color: #323941;
      @include media('<=576px') {
        padding-top: 10%;
        text-align: left;
      }
      @include media('<=400px') {
        padding-top: 30px;
      }
    }
    .feature-simple__inner-container {
      align-items: flex-end;
      @include media('<=576px') {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  // Центрирование контента слева
  // Расположение контента на мобилках снизу
  // Текст - белый

  &_content-top-mobile {
    .feature-simple__main-image {
      > span {
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
      }
    }
    .feature-simple__content {
      text-align: left;
      @include media('<=576px') {
        padding-top: 10%;
      }
      @include media('<=400px') {
        padding-top: 30px;
      }
    }
    .feature-simple__inner-container {
      @include media('<=576px') {
        justify-content: flex-start;
      }
    }
  }
  // Расположение контента справа
  // Цвет текста - темный
  // Центрирование контента на десктопе - справа
  // Центрирование контента на мобилках - слева
  // Расположение контента на мобилках - вверху
  &_content-align-right-and-black {
    .feature-simple__main-image {
      > span {
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
      }
    }
    .feature-simple__content {
      color: #323941;
    }
    .feature-simple__inner-container {
      align-items: flex-end;
      @include media('<=576px') {
        align-items: flex-start;
      }
    }
  }

  // Контент десктоп (ГxВxЦ) - центр / право / лево
  // Контент мобилка (ГxВxЦ) - низ / лево / лево
  // Цвет текста - темный
  &_type-3 {
    .feature-simple__main-image {
      > span {
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
      }
    }
    .feature-simple__content {
      color: #323941;
      @include media('<=576px') {
        padding-top: 10%;
      }
      @include media('<=400px') {
        padding-top: 30px;
      }
    }
    .feature-simple__inner-container {
      align-items: flex-end;
      @include media('<=576px') {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  // Контент десктоп (ГxВxЦ) - центр / право / лево
  // Контент мобилка (ГxВxЦ) - низ / лево / лево
  // Цвет текста - темный
  &_type-4 {
    .feature-simple__main-image {
      > span {
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
      }
    }
    .feature-simple__content {
      color: #323941;
      @include media('<=576px') {
        padding-top: 10%;
      }
      @include media('<=400px') {
        padding-top: 30px;
      }
    }
    .feature-simple__inner-container {
      align-items: flex-end;
      @include media('<=576px') {
        justify-content: flex-end;
        align-items: flex-start;
      }
    }
  }

  // Контент десктоп (ГxВxЦ) - центр / право / лево
  // Контент мобилка (ГxВxЦ) - низ / центр / центр
  // Цвет текста - темный
  &_type-5 {
    .feature-simple__main-image {
      > span {
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
      }
    }
    .feature-simple__content {
      color: #323941;
      @include media('<=576px') {
        padding-bottom: 10%;
        text-align: center;
      }
      @include media('<=400px') {
        padding-bottom: 30px;
      }
    }
    .feature-simple__inner-container {
      align-items: flex-end;
      @include media('<=576px') {
        justify-content: flex-end;
        align-items: center;
      }
    }
  }

  // Контент десктоп (ГxВxЦ) - центр / право / лево
  // Контент мобилка (ГxВxЦ) - низ / центр / центр
  // Цвет текста - темный
  // Картинка 991 - смещение влево
  // Картинка мобилка - убрано смещение
  &_type-6 {
    .feature-simple__main-image {
      > span {
        left: -10%;
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
          left: -25%;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
        @include media('<=576px') {
          left: unset;
        }
      }
    }
    .feature-simple__content {
      color: #323941;
      @include media('<=576px') {
        padding-bottom: 10%;
        text-align: center;
      }
      @include media('<=400px') {
        padding-bottom: 30px;
      }
    }
    .feature-simple__inner-container {
      align-items: flex-end;
      @include media('<=576px') {
        justify-content: flex-end;
        align-items: center;
      }
    }
  }

  // Контент десктоп (ГxВxЦ) - центр / верх / лево
  // Контент мобилка (ГxВxЦ) - низ / центр / центр
  // Цвет текста - белый
  // Картинка 991 - смещение влево
  // Картинка мобилка - убрано смещение
  &_type-7 {
    .feature-simple__main-image {
      > span {
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
      }
    }
    .feature-simple__inner-container {
      position: relative;
      top: -10%;
    }
  }

  // Контент десктоп (ГxВxЦ) - центр / право / лево
  // Контент мобилка (ГxВxЦ) - центр / верх / центр
  // Цвет текста - темный
  &_type-8 {
    .feature-simple__main-image {
      > span {
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
      }
    }
    .feature-simple__content {
      color: #323941;
      @include media('<=576px') {
        padding-top: 10%;
        text-align: center;
      }
      @include media('<=400px') {
        padding-top: 30px;
      }
    }
    .feature-simple__inner-container {
      align-items: flex-end;
      @include media('<=576px') {
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  // Контент десктоп (ГxВxЦ) - центр / право / лево
  // Контент мобилка (ГxВxЦ) - лево / верх / лево
  // Цвет текста - белый
  &_type-9 {
    .feature-simple__main-image {
      > span {
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
      }
    }
    .feature-simple__content {
      color: #fff;
      @include media('<=576px') {
        padding-top: 10%;
        text-align: left;
      }
      @include media('<=400px') {
        padding-top: 30px;
      }
    }
    .feature-simple__inner-container {
      align-items: flex-start;
      @include media('<=576px') {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  // Десктоп: Картинка слева. Текст справа посередине
  // Мобилка: Картинка снизу. Текст вверху слева
  // Контент десктоп (ГxВxЦ) - центр / право / лево
  // Контент мобилка (ГxВxЦ) - центр / верх / лево
  // Цвет текста - темный
  &_type-10 {
    .feature-simple__main-image {
      > span {
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
      }
    }
    .feature-simple__content {
      color: #323941;
      @include media('<=576px') {
        padding-top: 10%;
        text-align: left;
      }
      @include media('<=400px') {
        padding-top: 30px;
      }
    }
    .feature-simple__inner-container {
      align-items: flex-start;
      @include media('<=576px') {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  // Десктоп: Картинка слева. Текст справа посередине
  // Мобилка: Картинка снизу. Текст вверху по центру
  // Контент десктоп (ГxВxЦ) - центр / право / лево
  // Контент мобилка (ГxВxЦ) - центр / верх / центр
  // Цвет текста - белый
  &_type-11 {
    .feature-simple__main-image {
      > span {
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
      }
    }
    .feature-simple__content {
      color: #fff;
      @include media('<=576px') {
        padding-top: 10%;
        text-align: center;
      }
      @include media('<=400px') {
        padding-top: 30px;
      }
    }
    .feature-simple__inner-container {
      align-items: flex-end;
      @include media('<=576px') {
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
    // Контент десктоп (ГxВxЦ) - центр / право / лево
  // Контент мобилка (ГxВxЦ) - низ / центр / центр
  // Цвет текста - темный
  &_type-12 {
    .feature-simple__main-image {
      > span {
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
      }
    }
    .feature-simple__content {
      color: #323941;
      text-align: left;
      @include media('<=576px') {
        padding-bottom: 10%;
        text-align: center;
      }
      @include media('<=400px') {
        padding-bottom: 30px;
      }
    }
    .feature-simple__inner-container {
      align-items: flex-start;
      @include media('<=576px') {
        justify-content: flex-end;
        align-items: center;
      }
    }
  }

  &_type-13 {
    .feature-simple__main-image {
      > span {
        @include media('<=1200px') {
          min-height: 500px;
        }
        @include media('<=991px') {
          min-height: 450px;
        }
        @include media('<=768px') {
          min-height: 400px;
        }
      }
    }
    .feature-simple__content {
      color: #323941;
      @include media('<=576px') {
        padding-top: 10%;
        text-align: center;
      }
      @include media('<=400px') {
        padding-top: 30px;
      }
    }
    .feature-simple__inner-container {
      align-items: flex-start;
      @include media('<=576px') {
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}

.feature-lite {
  position: relative;
  &_gokart-kit {
    background-color: #F0F0F0;
  }
  &__container {
    position: relative;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    @include media('<=768px') {
      padding-top: 35px;
      padding-bottom: 15px;
    }
  }

  &__title {
    margin-bottom: 24px;
    @include media('<=991px') {
      margin-bottom: 8px;
    }
  }

  &__text {
    margin-bottom: 24px;
  }
  &__img-wrapper {
  }
  &__img {
  }
}
