.shipping-and-payment {
  overflow: hidden;
  &__title-with-description {
    margin-top: 48px;
    margin-bottom: 32px;

    @include media('<=991px') {
      margin-top: 22px;
    }
  }
  &__container {
    margin-bottom: 40px;
    @include media('<=991px') {
      margin-bottom: 55px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 372px 464px;
    justify-content: space-between;
    align-items: center;
    @include media('<=991px') {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__items {
    position: relative;
    z-index: 10;
  }

  &__item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    @include media('<=991px') {
      display: block;
    }
  }

  &__item-icon {
    display: inline-flex;
    justify-content: center;
    width: 72px;
    flex: 0 0 72px;
    margin-right: 34px;
    @include media('<=991px') {
      margin: 0 auto 24px auto;
      display: flex;
    }
  }

  &__item-content {
    @include media('<=991px') {
      text-align: center;
    }
  }

  &__item-title {
    margin-bottom: 8px;
    font-weight: bold;
    color: #009eff;
  }

  &__item-description {
  }

  &__large-image {
    height: 393px;
    position: relative;
    @include media('<=991px') {
      height: auto;
      margin-bottom: 66px;
    }
  }

  &__large-image-wrapper {
    position: absolute;
    top: 50%;
    left: -30%;
    transform: translateY(-50%);
    width: 737px;
    height: 393px;
    @include media('<=991px') {
      position: static;
      transform: unset;
    }
    @include media('<=576px') {
      width: 541px;
      height: 288px;
    }
  }
}
