.controll-from-smartphone {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(
      0deg,
      #eeeeee 0%,
      rgba(245, 245, 245, 0.79) 43.81%,
      rgba(255, 255, 255, 0) 82.46%
    );
  @include media("<=991px") {
  }
  @include media("<=768px") {
  }
  @include media("<=576px") {
  }
  &__container {
    padding-top: 65px;
    @include media("<=991px") {
    }
    @include media("<=768px") {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
    @include media("<=576px") {
    }
  }

  &__top {
    margin-bottom: 50px;
    text-align: center;
    @include media("<=991px") {
    }
    @include media("<=768px") {
      margin-bottom: 15px;
      padding-left: 16px;
      padding-right: 16px;
    }
    @include media("<=576px") {
    }
  }

  &__title {
    margin-bottom: 15px;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__text {
    @include media("<=991px") {
    }
    @include media("<=768px") {
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
    }
    @include media("<=576px") {
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    @include media("<=991px") {
    }
    @include media("<=768px") {
      flex-direction: column-reverse;
    }
    @include media("<=576px") {
    }
  }

  &__bottom-left {
    width: 40%;
    flex: 1 0 40%;
    margin-right: 30px;

    @include media("<=991px") {
    }
    @include media("<=768px") {
      position: relative;
      top: -40px;
      margin-bottom: -40px;
      z-index: 10;
      margin-right: 0;
      flex: 1 1 auto;
      width: 100%;
      padding-bottom: 25px;
      padding-top: 50px;
      background: linear-gradient(
        0deg,
        #f7f7f7 42.57%,
        #fcfcfc 84.49%,
        rgba(255, 255, 255, 0) 100%
      );
    }
    @include media("<=576px") {
    }
  }

  &__items {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 95px);
    column-gap: 20px;
    row-gap: 15px;
    margin-bottom: 25px;
    @include media("<=991px") {
      column-gap: 10px;
      row-gap: 10px;
    }
    @include media("<=768px") {
      grid-template-columns: repeat(3, 85px);
      column-gap: 30px;
      row-gap: 25px;
      margin-bottom: 25px;
    }
    @include media("<=576px") {
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__item-icon-wrapper {
    position: relative;
    height: 95px;
    margin-bottom: 10px;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
      margin-bottom: 0;
    }
    &_color {
      display: none;
    }
  }

  &__item-icon {
    position: absolute;
    top: 50px;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 10;
    font-size: 42px;
    color: #cccccc;
    transition: all 0.3s ease;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__polygon-wrapper {
    position: absolute;
    top: 50px;
    right: 50%;
    transform: translate(50%, -50%);
    width: 95px;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__polygon {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__item-description {
    font-size: 13px;
    line-height: 16px;
    color: #999999;
    max-width: 80px;
    margin: auto;
    @include media("<=991px") {
    }
    @include media("<=768px") {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }
    @include media("<=576px") {
    }
  }

  &__payments-img-wrapper {
    max-width: 295px;
    margin: 0 auto;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__payments-img {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__bottom-right {
    width: 400px;
    flex: 1 0 400px;
    overflow: hidden;
    @include media("<=991px") {
    }
    @include media("<=768px") {
      width: 100%;
      flex: 1 1 auto;
    }
    @include media("<=576px") {
    }
  }

  &__hand-picture {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
    }
  }

  &__hand-img {
    object-fit: contain;
    @include media("<=991px") {
    }
    @include media("<=768px") {
      position: relative;
      width: 110%;
      height: auto;
      max-width: unset;
      left: -5%;
    }
    @include media("<=576px") {
    }
  }
}
