.didnt-find {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  transition: all 0.3s ease;
  overflow-y: scroll;

  
  z-index: -1;
  opacity: 0;
  visibility: hidden;

  &.active {
    z-index: 200;
    opacity: 1;
    visibility: visible;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 540px;
    background-color: #323941;
    border: 10px solid #009eff;
  }

  &__close-btn {
    @include reset-btn();
    position: absolute;
    left: calc(100% + 24px);
    top: -10px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 67px;
    height: 67px;
    background-color: #009eff;
  }

  &__close-btn-icon {
  }

  &__bg-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 13px;
  }

  &__question-icon {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__content {
    padding: 0 15px;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
    text-align: center;
  }

  &__title {
    margin-bottom: 8px;
    color: #fff;
  }

  &__description {
    color: #fff;
    margin-bottom: 35px;
  }

  &__input {
  }

  &__btn {
    position: absolute;
    top: calc(100% - 28px);
    height: 61px;
    width: 234px;
    left: 50%;
    transform: translateX(-50%);
  }
}
