.download-manual {
  background-color: #f5f5f5;
  overflow: hidden;
  &__container {
    padding-top: 90px;
    padding-bottom: 90px;
    @include media("<=991px") {
      padding-top: 90px;
      padding-bottom: 21px;
    }
    @include media("<=425px") {
      padding-top: 120px;
    }
  }

  &__cart {
    position: relative;
    border: 5px solid #009eff;
    padding: 32px 50px 32px 32px;
    min-height: 322px;
    @include media("<=991px") {
      padding-top: 225px;
    }
    @include media("<=768px") {
      padding: 225px 10px 10px 10px;
    }
  }

  &__img {
    position: absolute;
    top: 45%;
    left: -20%;
    transform: translateY(-50%);
    width: 600px;
    height: auto;
    object-fit: contain;
    @include media("<=991px") {
      left: 43%;
      top: -40%;
      transform: translateX(-50%);
      width: 450px;
      top: -25%;
    }
    @include media("<=768px") {
      top: -30%;
    }
    @include media("<=576px") {
      left: 40%;
      top: -25%;
    }
    @include media("<=480px") {
      width: 350px;
      height: auto;
      left: 48%;
      top: -15%;
    }
  }

  &__content {
    position: relative;
    z-index: 10;
    max-width: 490px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include media("<=991px") {
      margin-right: auto;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 17px;
    @include media("<=991px") {
      margin-bottom: 24px;
      text-align: center;
      white-space: nowrap;
    }
  }

  &__items {
    display: flex;
    margin-bottom: 25px;
    @include media("<=991px") {
      margin-bottom: 15px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 12px;
      @include media("<=991px") {
      }
    }
    @include media("<=991px") {
    }
    @include media("<=576px") {
      display: block;
      text-align: center;
    }
  }

  &__icon {
    margin-right: 10px;
    height: 30px;
    @include media("<=991px") {
    }
    @include media("<=576px") {
      margin: 0 auto 15px auto;
      height: 40px;
    }
  }

  &__item-description {
    @include media("<=991px") {
    }
    @include media("<=576px") {
      margin-right: 0;
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__link {
    @include media("<=991px") {
    }
    @include media("<=576px") {
      width: 100%;
    }
  }

  &__link-icon {
    margin-left: 37px;
    font-size: 25px;
    @include media("<=991px") {
    }
    @include media("<=576px") {
      display: none;
    }
  }
}
