.download-manual {
  background-color: #f5f5f5;
  &__container {
    padding-top: 90px;
    padding-bottom: 90px;
    @include media("<=991px") {
      padding-top: 90px;
      padding-bottom: 21px;
    }
    @include media("<=425px") {
      padding-top: 120px;
    }
  }

  &__cart {
    position: relative;
    border: 5px solid #009eff;
    padding: 32px 50px 32px 32px;
    min-height: 322px;
    @include media("<=991px") {
      padding-top: 225px;
    }
    @include media("<=768px") {
      padding: 225px 10px 10px 10px;
    }
  }

  &__picture {
    position: absolute;
    top: -30%;
    right: 29%;
    width: 100%;
    height: 100%;
    @include media("<=991px") {
      width: 398px;
      height: 236px;
      top: -40%;
    }
    @include media("<=768px") {
      right: 23%;
    }
    @include media("<=668px") {
      right: 16%;
    }
    @include media("<=568px") {
      right: 11%;
    }
    @include media("<=425px") {
      right: 0;
      width: 100%;
    }
  }

  &__img {
    object-fit: contain;
  }

  &__content {
    position: relative;
    z-index: 10;
    max-width: 490px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include media("<=991px") {
      margin-right: auto;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 17px;
    @include media("<=991px") {
      margin-bottom: 24px;
      text-align: center;
      white-space: nowrap;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    @include media("<=991px") {
      margin-bottom: 15px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 12px;
      @include media("<=991px") {
      }
    }
    @include media("<=991px") {
    }
    @include media("<=576px") {
      display: block;
      text-align: center;
      flex-basis: 33.33%;
    }
  }

  &__icon {
    margin-right: 10px;
    @include media("<=991px") {
    }
    @include media("<=576px") {
      margin: 0 auto 15px auto;
    }
  }

  &__item-description {
    @include media("<=991px") {
    }
    @include media("<=576px") {
      margin-right: 0;
      font-size: 14px;
    }
  }

  &__link {
    @include media("<=991px") {
    }
    @include media("<=576px") {
      width: 100%;
    }
  }

  &__link-icon {
    margin-left: 37px;
    font-size: 25px;
    @include media("<=991px") {
    }
    @include media("<=576px") {
      display: none;
    }
  }
}
