.dual-braking {
  position: relative;
  background-color: #fff;
  &__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__img {
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 547px;
  }

  &__content {
    max-width: 390px;
    padding-right: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    text-align: left;
  }

  &__title {
    margin-bottom: 18px;
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }
}
