.kick-scooter-overview {
  &__container {
    margin-top: 50px;
    text-align: center;
  }

  &__title {
    display: block;
    text-align: center;
  }

  &__subtitle {
    display: none;
    margin-bottom: 21px;
    @include media("<=991px") {
      display: block;
      text-transform: uppercase;
      color: #009eff;
      font-weight: bold;
      font-size: 18px;
      line-height: 119.3%;
    }
  }

  &__desktop {
    @include media("<=991px") {
      display: none;
    }
  }
  &__mobile {
    display: none;
    @include media("<=991px") {
      display: inline-block;
    }
  }

  &__picture {
  }
  &__img {
    object-fit: contain;
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
  }
}
