.one-step {
  position: relative;

  &__container {
    position: relative;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    @include media("<=768px") {
      padding-top: 35px;
      padding-bottom: 15px;
    }
  }

  &__title {
    margin-bottom: 24px;
    @include media("<=991px") {
      margin-bottom: 8px;
    }
  }

  &__text {
    margin-bottom: 24px;
  }
  &__img-wrapper {
  }
  &__img {
  }
}
