.other-models {
  background-color: #fff;
  &__container {
    margin-top: 50px;
    margin-bottom: 40px;
    @include media("<=991px") {
      margin-top: 0;
      margin-bottom: 30px;
    }
    @include media("<=768px") {
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 50px;
    }
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 50px;
    text-align: center;
    @include media("<=768px") {
      display: none;
    }
  }

  &__swiper {
    position: relative;
    @include media("<=768px") {
      padding-left: 16px;
      &::before {
        @include media("<=768px") {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 90px;
          height: 100%;
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.8)
          );
          z-index: 10;
          pointer-events: none;
        }
      }
    }
  }

  &__swiper-container {
    overflow-x: hidden;
  }

  .swiper-slide {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 25%;
    padding: 0 15px 50px 15px;
    height: auto;
    @include media("<=991px") {
      flex: 0 1 33.33%;
    }
    @include media("<=768px") {
      flex: 0 0 auto;
      padding: 0;
    }
    &_form {
      padding: 30px 15px 37px 15px;
      @include media("<=576px") {
        display: none;
      }
    }
  }

  .swiper-wrapper {
    flex-wrap: wrap;
    @include media("<=768px") {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__item {
  }

  &__item-wrapper {
    text-align: center;
  }

  &__link {
    text-decoration: none;
    text-align: center;
    &:hover,
    &:focus {
      outline: none;
      .other-models__name {
      }
      .other-models__img-wrapper::before {
        background-color: #009eff;
      }
      .other-models__img {
        transform: scale(0.95);
      }
    }
  }

  &__img-wrapper {
    position: relative;
    width: 160px;
    height: 160px;
    margin: 0 auto 10px auto;
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 133px;
      height: 133px;
      background-color: #eeeeee;
      border-radius: 50%;
      transition: all 0.3s ease;
      @include media("<=768px") {
        width: 110px;
        height: 110px;
      }
    }
    @include media("<=768px") {
      width: 140px;
      height: 140px;
    }
  }

  &__img {
    z-index: 10;
    transition: all 0.3s ease;
  }

  &__name {
    margin-bottom: 15px;
    @include media("<=768px") {
      margin-bottom: 8px;
    }
    @include media("<=576px") {
      font-size: 14px;
    }
  }

  &__price {
    margin-bottom: 14px;
    text-align: center;
    @include media("<=768px") {
      margin-bottom: 17px;
    }
    &-key {
      display: none;
      color: #999999;
      @include media("<=768px") {
        display: inline-block;
        margin-right: 10px;
      }
      @include media("<=576px") {
        margin-right: auto;
      }
    }
    &-value {
      @include media("<=768px") {
        font-size: 16px;
      }
    }
  }

  &__see-more {
    margin-top: auto;
    text-decoration: none;
    @include media("<=768px") {
      padding-left: 23px;
      padding-right: 23px;
      background-color: #009eff;
      color: #fff;
      border: 0;
    }
    @include media("<=576px") {
      width: 100%;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
    }
  }

  &__bottom {
    text-align: center;
    @include media("<=768px") {
      display: none;
    }
  }

  &__bottom-link {
    padding-left: 70px;
    padding-right: 70px;
    @include media("<=768px") {
    }
  }

  &__form {
    border: 3px solid #009eff;
  }
  &__form-title {
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #323941;
    @include media("<=576px") {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__form-text {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 19px;
  }
  &__form-input {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #c4c4c4;
    padding-bottom: 15px;
    border: 0;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 18px;
    outline: none;
    background-color: transparent;
    &::placeholder {
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #c4c4c4;
    }
  }
  &__form-input {
  }
}
