.payments-methods {
  &__payments-title {
    margin-bottom: 8px;
    @include media("<=991px") {
    }
    @include media("<=768px") {
      margin-bottom: 15px;
      text-align: center;
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      color: #323941;
    }
    &_desktop {
      @include media("<=768px") {
        .payments-methods__payments-item_2,
        .payments-methods__payments-item_3 {
          display: none;
        }
      }
    }
    &_mobile {
      display: none;
      margin-bottom: 0;
      @include media("<=768px") {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }

  &__payments-item {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    &_1 {
      margin-right: 3px;
      font-size: 18px;
      line-height: 22px;
      color: #999999;
    }

    &_2 {
      display: inline-flex;
      align-items: center;
      margin-right: 3px;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #009eff;
    }

    &_3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #6acd68;
    }
  }

  &__payments-methods {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24px, 25px));
    gap: 5px;
    @include media("<=991px") {
      grid-template-columns: repeat(8, 1fr);
    }
    @include media("<=768px") {
      justify-content: center;
      margin-bottom: 15px;
    }
    @include media("<=576px") {
    }
  }

  &__payments-method {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background-color: #fff;
    @include media("<=991px") {
      padding: 0 5px;
      height: 23px;
    }
    @include media("<=768px") {
      height: 30px;
    }
    @include media("<=576px") {
      padding: 0;
      height: 23px;
    }
    @include media("<=480px") {
    }
  }

  &__payments-method-icon {
    height: 70%;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
  }

  &__a-icon {
    margin-left: 5px;
  }
}
