.regenerative {
  position: relative;
  background-color: #0e0e16;
  overflow: hidden;

  @include media("<=991px") {
    background-color: #11141c;
  }

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100%;
    height: 200%;
    background: radial-gradient(
      ellipse at center left,
      #202e57 0%,
      #04060a 62%,
      #04060a 100%
    );
    @include media("<=768px") {
      content: "";
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 200vw;
      height: 100%;
      background: radial-gradient(
        ellipse at center bottom,
        #405aaa 0%,
        #04060a 62%,
        #04060a 100%
      );
    }
  }

  &__container {
    display: flex;
    align-items: center;
    min-height: 547px;
    @include media("<=991px") {
      min-height: auto;
      height: auto;
      flex-direction: column;
    }
  }

  &__img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 895px;
    height: 547px;
    @include media("<=991px") {
      position: static;
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  }
  &__img {
    @include media("<=768px") {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    position: relative;
    max-width: 553px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    @include media("<=991px") {
      margin-top: auto;
      margin-right: auto;
      margin-bottom: 35px;
      max-width: 700px;
    }
  }

  &__title {
    margin-bottom: 18px;
    @include media("<=768px") {
      margin-bottom: 15px;
    }
  }

  &__text {
    @include media("<=768px") {
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
    }
  }
}
