.riding-model {
  position: relative;
  background-color: #12151e;
  overflow: hidden;

  @include media("<=768px") {
    background: radial-gradient(70.94% 47% at 50% 100%, #253979 0%, #000000 100%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100%;
    height: 1200%;
    background: radial-gradient(
      ellipse at center left,
      #131a2e 0%,
      #04060a 10%,
      rgb(15, 24, 44) 100%
    );
    @include media("<=768px") {
      display: none;
    }
  }

  &__img-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 720px;
    height: 100%;
    z-index: 100;
    @include media("<=991px") {
      width: 50%;
      height: auto;
    }
    @include media("<=768px") {
      position: relative;
      width: 100%;
      height: auto;
    }
  }
  &__img {
  }

  &__container {
    display: flex;
    align-items: center;
    min-height: 547px;
    @include media("<=768px") {
      min-height: auto;
      align-items: flex-start;
    }
  }

  &__content {
    position: relative;
    max-width: 553px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    @include media("<=768px") {
      margin-top: 40px;
    }
  }

  &__title {
    margin-bottom: 18px;
  }

  &__text {
    @include media("<=768px") {
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
    }
    &:not(:last-child) {
      margin-bottom: 11px;
    }
    &_last {
      @include media("<=768px") {
        font-size: 13px;
        line-height: 15px;
      }
    }
  }
}
