// show on max-width: 576px
.segway-protect-mobile {
  &__container {
  }

  &__cart {
    display: flex;
    border: 5px solid #009eff;
    padding: 10px 15px 10px 15px;
  }

  &__img-wrapper {
    position: relative;
    flex: 0 0 87px;
    width: 87px;
    height: auto;
  }

  &__img {
  }

  &__content {
    margin-right: 20px;
  }

  &__title {
    margin-bottom: 9px;
    padding-top: 10px;
  }

  &__description {
  }
}
