.segway-ninebot {
  position: relative;
  overflow: hidden;
  &__container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 400px;
    grid-template-areas:
      "stock stock"
      "title title"
      "form swiper"
      "payments swiper";
    margin-top: 60px;
    margin-bottom: 120px;
    @include media("<=1200px") {
      grid-template-columns: 1fr 300px;
    }
    @include media("<=991px") {
      margin-bottom: 40px;
    }
    @include media("<768px") {
      grid-template-columns: 1fr;
      grid-template-areas:
        "stock"
        "title"
        "swiper"
        "form"
        "payments";
      margin-top: 40px;
      padding-bottom: 45px;
      background: linear-gradient(180deg, #ffffff 0%, #f5f5f5 100%);
      background-clip: padding-box;
    }
    @include media("<576px") {
      grid-template-columns: 1fr;
      grid-template-areas:
        "stock"
        "title"
        "protect"
        "form"
        "payments";
    }
  }

  &__stock-wrapper {
    position: relative;
    z-index: 10;
    grid-area: stock;
    margin-bottom: 10px;
    @include media("<768px") {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  &__stock {
    height: 28px;
    border: 2px solid #6acd68;
    box-sizing: border-box;

    font-size: 13px;

    display: inline-flex;
    align-items: center;
    text-align: center;

    padding-left: 20px;
    padding-right: 20px;

    color: #6acd68;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
  }

  &__protect-wrapper {
    position: relative;
    z-index: 10;
    grid-area: protect;
    display: none;
    margin-bottom: 15px;
    @include media("<=576px") {
      display: block;
    }
  }

  &__title-wrapper {
    position: relative;
    z-index: 10;
    grid-area: title;
    @include media("<=991px") {
    }
    @include media("<=768px") {
      max-width: 400px;
      margin-bottom: 290px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    @include media("<=576px") {
      margin-bottom: 260px;
    }
  }

  &__title {
    margin-bottom: 15px;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=576px") {
      font-size: 40px;
      white-space: nowrap;
    }
  }

  &__form-wrapper {
    position: relative;
    grid-area: form;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
  }

  &__form {
    margin-bottom: 25px;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
  }

  &__payments-wrapper {
    position: relative;
    z-index: 10;
    grid-area: payments;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
  }

  &__bg-wrapper {
    position: absolute;
    width: 1260px;
    height: 650px;
    bottom: 80px;
    right: -180px;
    @include media("<=2500px") {
      width: 1060px;
      height: 490px;
    }
    @include media("<=1920px") {
      right: unset;
      left: 55%;
      bottom: 40px;
    }
    @include media("<=1400px") {
      height: 420px;
      left: 45%;
      bottom: 115px;
    }
    @include media("<=1200px") {
      left: 55%;
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
      bottom: unset;
      width: 400px;
      top: 140px;
      left: 50%;
      transform: translateX(-50%);
    }
    @include media("<=576px") {
      top: 160px;
      width: 350px;
    }
    @include media("<=480px") {
      width: calc(100% - 50px);
    }
  }
}
