.welcome {
  @include media("<=991px") {
  }
  &__container {
    padding-top: 20px;
    padding-bottom: 40px;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
  }

  &__top {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 400px;
    grid-template-areas:
      "stock swiper"
      "title swiper"
      "form swiper"
      "payments swiper";

    @include media("<=1200px") {
      grid-template-columns: 1fr 300px;
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
      grid-template-columns: 1fr;
      grid-template-areas:
        "stock"
        "title"
        "swiper"
        "form"
        "payments";
    }
    @include media("<=576px") {
      grid-template-columns: 1fr;
      grid-template-areas:
        "stock"
        "title"
        "swiper"
        "protect"
        "form"
        "payments";
    }
  }

  &__stock-wrapper {
    grid-area: stock;
    @include media("<=768px") {
      text-align: center;
    }
  }

  &__stock {
    height: 28px;
    border: 2px solid #6acd68;
    box-sizing: border-box;

    font-size: 13px;

    display: inline-flex;
    align-items: center;
    text-align: center;

    padding-left: 20px;
    padding-right: 20px;

    color: #6acd68;
    margin-bottom: 10px;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
  }

  &__title-wrapper {
    grid-area: title;
    @include media("<=991px") {
    }
    @include media("<=768px") {
      max-width: 400px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__protect-wrapper {
    grid-area: protect;
    display: none;
    margin-bottom: 15px;
    @include media("<=576px") {
      display: block;
    }
  }

  &__title {
    margin-bottom: 15px;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
  }

  &__form-wrapper {
    grid-area: form;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
  }

  &__form {
    margin-bottom: 25px;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
  }

  &__payments-wrapper {
    grid-area: payments;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
  }

  &__top-right {
  }

  &__swiper-wrapper {
    grid-area: swiper;
    overflow: hidden;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
  }
  &__swiper {
    position: relative;
    @include media("<=991px") {
    }
    @include media("<=768px") {
      margin-bottom: 45px;
    }
  }

  &__swiper-item {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
  }

  &__swiper-img-wrapper {
    @include media("<=991px") {
    }
    @include media("<=768px") {
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
    @include media("<=576px") {
      max-width: 150px;
    }
  }

  &__swiper-img {
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
  }

  &__swiper-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 0;
    display: none;
    @include media("<=991px") {
    }
    @include media("<=768px") {
      display: flex;
      margin: 0 auto;
      width: calc(100% - 20px);
    }
  }

  &__swiper-pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
  }

  &__swiper-nav {
    @include reset-btn();
    display: inline-flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      .welcome__swiper-icon {
        font-size: 30px;
      }
    }
    &_prev {
    }

    &_next {
    }

    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=768px") {
    }
  }

  &__swiper-icon {
    font-size: 40px;
    color: #009eff;
    transition: all 0.3s ease;
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=768px") {
      font-size: 22px;
    }
  }
}
