.payment-layout {
  height: 100%;
  &__page {
    // Для страницы
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  &__container {
    display: flex;
    width: 100%;
    height: 100%;
    @include media('<=991px') {
      flex-direction: column-reverse;
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__left {
    padding: 17px 30px 17px 0;
    flex: 1 1 auto;
    margin-right: 30px;
    border-right: 1px solid #e1e1e1;
    @include media('<=991px') {
      flex: auto;
      margin-right: 0;
      border-right: 0;
      padding-right: 0;
    }
  }
  &__right {
    padding: 17px 0 17px 0;
    flex: 0 0 365px;
    @include media('<=991px') {
      flex: auto;
      padding-bottom: 3px;
    }
  }
}

.payment-breadcrumbs {
  &__container {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    @include media('<=991px') {
      justify-content: center;
      margin-bottom: 45px;
    }
  }
  &_first-step {
    .payment-breadcrumbs__link:nth-child(1) {
      color: #323941;
    }
  }
  &_second-step {
    .payment-breadcrumbs__link:nth-child(1) {
      color: #009eff;
      text-shadow: 0 0 1px #009eff;
    }
    .payment-breadcrumbs__link:nth-child(2) {
      color: #323941;
    }
  }
  &_third-step {
    .payment-breadcrumbs__link:nth-child(1) {
      color: #009eff;
      text-shadow: 0 0 1px #009eff;
    }
    .payment-breadcrumbs__link:nth-child(2) {
      color: #009eff;
      text-shadow: 0 0 1px #009eff;
    }
    .payment-breadcrumbs__link:nth-child(3) {
      color: #323941;
    }
  }
  &__link {
    font-size: 13px;
    line-height: 120%;
    color: rgba(153, 153, 153, 1);
    text-decoration: none;
    &:not(:last-child) {
      margin-right: 7px;
    }
  }
}

.payment {
  &__title {
    font-size: 18px;
    line-height: 22px;
    color: #323941;
    @include media('<=768px') {
      font-size: 24px;
      line-height: 29px;
    }
  }
  &__description {
    font-weight: 300;
    font-size: 13px;
    line-height: 120%;
    @include media('<=768px') {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #999999;
    }
  }
  &__group {
    text-align: left;
    .payment__title {
      margin-bottom: 18px;
    }
  }
  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 240px;
    height: 48px;

    background-color: #009eff;
    color: #fff;

    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    &_transparent {
      background-color: transparent;
      color: #009eff;
      font-weight: 400;
    }
    @include media('<=768px') {
      height: 60px;
    }
  }
}

.payment-info {
  @include media('<=991px') {
    padding: 0 16px;
  }
  &__title {
    margin-bottom: 18px;
    @include media('<=991px') {
      margin-bottom: 14px;
    }
    @include media('<=768px') {
      text-align: center;
    }
  }
  &__email {
    margin-bottom: 11px;
  }
  &__checkbox-first {
    label {
      @include media('<=768px') {
        justify-content: center;
      }
    }
  }
  &__checkbox-second {
    label {
      @include media('<=768px') {
        justify-content: center;
      }
    }
  }
  &__contact-area {
    margin-bottom: 34px;
    @include media('<=991px') {
      margin-bottom: 17px;
    }
  }
  &__shipping-address {
  }
  &__form-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -10px;
    @include media('<=768px') {
      margin-bottom: -8px;
      margin-right: 0;
      margin-left: 0;
    }
  }
  &__form-item {
    flex: 1 1 calc(100% - 10px);
    margin: 0 5px 10px 5px;
    @include media('<=768px') {
      margin: 0 0 8px 0;
    }
    &_50 {
      flex: 1 1 calc(50% - 10px);
      @include media('<=768px') {
        flex: 1 1 100%;
      }
    }
    &_33 {
      flex: 1 1 calc(33.33% - 10px);
      @include media('<=768px') {
        flex: 1 1 100%;
      }
    }
  }
  &__btn {
    border: 0;
    outline: 0;
    margin-top: 12px;
    cursor: pointer;
    @include media('<=768px') {
      margin-top: 22px;
      width: 100%;
    }
  }
}

.payment-shipping {
  @include media('<=991px') {
    padding: 0 16px 55px 16px;
  }
  &__title {
    margin-bottom: 18px;
    @include media('<=768px') {
      text-align: center;
    }
  }
  &__status {
    margin-bottom: 38px;
  }
  &__methods {
  }
  &__action-buttons {
    display: flex;
    align-items: center;
    margin-top: 16px;
    @include media('<=991px') {
      justify-content: center;
    }
    @include media('<=768px') {
      flex-direction: column;
    }
  }
  &__action-btn {
    @include media('<=768px') {
      min-width: 343px;
    }
    &:last-child {
      color: #323941;
      @include media('<=768px') {
        color: #009eff;
      }
    }
  }
}

.payment-payment {
  @include media('<=991px') {
    padding-left: 16px;
    padding-right: 16px;
  }
  &__title {
    margin-bottom: 4px;
    @include media('<=768px') {
      text-align: center;
    }
  }
  &__head-for-form-first {
    margin-bottom: 16px;
    @include media('<=768px') {
      text-align: center;
    }
  }
  &__head-for-form-second {
    margin-top: 30px;
    margin-bottom: 16px;
    @include media('<=768px') {
      text-align: center;
    }
  }
  &__status {
    margin-bottom: 30px;
  }
  &__payment {
  }
  &__billing-address {
  }
  &__action-buttons {
    margin-top: 37px;
    @include media('<=768px') {
      margin-top: 22px;
    }
  }
  &__action-btn {
    border: 0;
    &:first-child {
      max-width: 147px;
      @include media('<=768px') {
        max-width: unset;
      }
    }
    @include media('<=768px') {
      display: flex;
      width: 100%;
    }
  }
}

.user-cart-status {
  &__input-with-btn {
    display: flex;
    min-height: 40px;
    padding-bottom: 22px;
    border-bottom: 1px solid #e1e1e1;
    @include media('<=991px') {
      padding: 24px 16px;
      border-top: 1px solid #e1e1e1;
    }
  }
  &__input {
    flex: 1 1 auto;
  }

  &__btn {
    outline: 0;
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 86px;
    flex: 0 0 86px;
    background: #323941;
    font-size: 13px;

    text-align: center;
    color: #ffffff;
    @include media('<768px') {
      height: 50px;
      font-size: 16px;
      flex: 0 0 127px;
      width: 127px;
    }
  }
  &__row-wrapper {
    padding-top: 14px;
    &:not(:last-child) {
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 14px;
      @include media('<=991px') {
        padding: 28px 16px 28px 16px;
      }
    }
    @include media('<=991px') {
      padding: 28px 16px 28px 16px;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 9px;
      @include media('<=991px') {
        margin-bottom: 13px;
      }
    }
  }
  &__title {
    font-size: 13px;
    line-height: 120%;
    color: #323941;
    @include media('<=991px') {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
    }
  }
  &__text {
    font-size: 11px;
    line-height: 120%;
    color: #999999;
  }
  &__text-uppercase {
    margin-right: 6px;
    font-size: 11px;
    line-height: 120%;
    color: #999999;
    text-transform: uppercase;
  }
  &__price {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #323941;

    @include media('<=991px') {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.payment-radio {
  &__title-text {
    line-height: 100%;
    &-title {
      display: block;
      margin-bottom: 1px;
      font-size: 13px;
      line-height: 100%;
      color: #323941;
      &_bold {
        font-weight: 600;
      }
    }
    &-text {
      display: block;
      font-size: 11px;
      color: #999999;
    }
  }
  &__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #009eff;
  }
  &__payments {
    display: flex;
    align-content: center;
  }
  &__payments-img-wrapper {
    width: 211px;
    flex: 0 0 211px;
    margin-right: 16px;
    @include media('<=768px') {
      width: 86px;
      flex: 0 0 86px;
      margin-right: 0;
    }
  }
  &__payments-more {
    color: #323941;
  }
  &__inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(-5px + 16px) calc(-10px + 10px);
    @include media('<=768px') {
      margin: 0 calc(-6px + 13px) calc(-10px + 10px);
    }
    &_alt {
      margin-bottom: calc(-10px + 23px);
      @include media('<=768px') {
        margin: 0 calc(-6px + 13px) calc(-10px + 10px);
      }
    }
  }
  &__input {
    flex: 1 1 calc(100% - 10px);
    margin: 0 5px 10px 5px;
    @include media('<=768px') {
      margin: 0 6px 10px 6px;
    }
    &_50 {
      flex: 1 1 calc(50% - 10px);
      @include media('<=768px') {
        flex: 1 1 100%;
      }
    }
    &_33 {
      flex: 1 1 calc(33.33% - 10px);
      @include media('<=768px') {
        flex: 1 1 100%;
      }
    }
  }
  &__payment-image {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  &__description {
    font-size: 11px;
    line-height: 120%;
    color: #323941;
  }
  &__border-input-top {
    > div:first-child {
      margin-bottom: 16px;
      border-bottom: 1px solid rgba(153, 153, 153, 0.33);
    }
  }
  &__border-input-top-alt {
    > div:first-child {
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(153, 153, 153, 0.33);
      @include media('<=768px') {
        margin-bottom: 10px;
      }
    }
  }
}
