$rootContainer: '.tabs';

#{$rootContainer} {
  &_main-page {
    #{$rootContainer}__container {
      margin-bottom: 48px;
      @include media('<=768px') {
        margin-bottom: 18px;
      }
    }
  }
  &__container {
    @include media('<=768px') {
      display: flex;
      flex-direction: column-reverse;
      background-color: #f7f7f7;
      padding-bottom: 16px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__tab {
    @include reset-btn();
    align-items: center;
    padding: 8px 10px;
    text-decoration: none;

    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #999999;
    transition: all 0.3s ease;
    &:hover,
    &:focus {
      background-color: #009eff;
      color: #fff;
      .tabs__tab-icon-wrapper_color {
        display: none;
      }
      .tabs__tab-icon-wrapper_white {
        display: flex;
      }
    }
    &.active {
      background-color: #009eff;
      color: #fff;
      .tabs__tab-icon-wrapper_color {
        display: none;
      }
      .tabs__tab-icon-wrapper_white {
        display: flex;
      }
    }
    @include media('<=768px') {
      justify-content: center;
      background-color: #fff;
    }
  }

  &__tab-icon-wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 19px;
    transition: all 0.3s ease;
    min-width: 37px;
    @include media('<=768px') {
      margin-right: 0;
      height: auto;
      min-width: 35px;
      width: 35px;
    }
    &_color {
    }
    &_white {
      position: relative;
      display: none;
    }
    &_1 {
    }
    &_2 {
      width: 25px;
      min-width: 25px;
    }
    &_3 {
    }
    &_4 {
    }
  }

  &__tab-img {
  }

  &__tab-text {
    text-align: left;
    max-width: 150px;
    @include media('<=991px') {
      font-size: 15px;
    }
    @include media('<=768px') {
      display: none;
    }
  }

  &__presentations {
  }

  &__presentation {
    position: relative;
    display: none;
    padding: 27px 15px 27px 23px;
    background-color: #f7f7f7;
    height: 195px;
    @include media('<=991px') {
      height: 230px;
    }
    @include media('<=768px') {
      padding: 15px 10px;
      background-color: transparent;
      height: 420px;
    }
    &.active {
      display: flex;
      @include media('<=768px') {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }

  &__presentation-content {
    flex: 1 1 535px;
    margin-right: auto;
    align-self: flex-start;
    @include media('<=991px') {
      flex: 1 1 auto;
    }
    @include media('<=768px') {
      align-self: center;
      margin-right: 0;
      text-align: center;
    }
    @include media('<=576px') {
      position: relative;
    }
  }

  &__presentation-title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 31px;
  }

  &__presentation-description {
    @include media('<=768px') {
      font-weight: 300;
    }
  }

  &__presentation-icon-wrapper {
    display: flex;
    position: relative;
    @include media('<=768px') {
      height: 200px;
      width: 200px;
    }
  }

  &__presentation-icon {
    align-self: center;
    min-width: 200px;
    @include media('<=768px') {
      min-width: unset;
      margin-bottom: 20px;
    }
  }
  &__presentation-wrapper {
  }
}
