.tabs {
  &__container {
    @include media('<=768px') {
      display: flex;
      flex-direction: column-reverse;
      background-color: #f7f7f7;
      padding-bottom: 16px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include media('<=991px') {
    }
    @include media('<=768px') {
    }
    @include media('<=576px') {
    }
  }

  &__tab {
    @include reset-btn();
    align-items: center;
    padding: 8px 10px;
    text-decoration: none;

    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #999999;
    transition: all 0.3s ease;
    &:hover,
    &:focus {
      background-color: #009eff;
      color: #fff;
      .tabs__tab-icon-wrapper_color {
        display: none;
      }
      .tabs__tab-icon-wrapper_white {
        display: block;
      }
    }
    &.active {
      background-color: #009eff;
      color: #fff;
      .tabs__tab-icon-wrapper_color {
        display: none;
      }
      .tabs__tab-icon-wrapper_white {
        display: block;
      }
    }
    @include media('<=991px') {
    }
    @include media('<=768px') {
      justify-content: center;
      background-color: #fff;
    }
    @include media('<=576px') {
    }
  }

  &__tab-icon-wrapper {
    position: relative;
    display: block;
    margin-right: 19px;
    transition: all 0.3s ease;
    min-width: 37px;
    @include media('<=991px') {
    }
    @include media('<=768px') {
      margin-right: 0;
      height: auto;
      min-width: 35px;
      width: 35px;
    }
    @include media('<=576px') {
    }
    &_color {
    }
    &_white {
      position: relative;
      display: none;
    }
    &_1 {
    }
    &_2 {
      width: 25px;
      min-width: 25px;
    }
    &_3 {
    }
    &_4 {
    }
  }

  &__tab-img {
    @include media('<=991px') {
    }
    @include media('<=768px') {
    }
    @include media('<=576px') {
    }
  }

  &__tab-text {
    text-align: left;
    max-width: 150px;
    @include media('<=991px') {
      font-size: 15px;
    }
    @include media('<=768px') {
      display: none;
    }
    @include media('<=576px') {
    }
  }

  &__presentations {
    @include media('<=991px') {
    }
    @include media('<=768px') {
    }
    @include media('<=576px') {
    }
  }

  &__presentation {
    position: relative;
    display: none;
    padding: 27px 15px 27px 23px;
    background-color: #f7f7f7;
    height: 195px;
    @include media('<=991px') {
    }
    @include media('<=768px') {
      height: auto;
      padding: 15px 10px;
      background-color: transparent;
      height: 370px;
    }

    @include media('<=576px') {
    }
    &.active {
      display: flex;
      @include media('<=768px') {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
    &_delivery {
      @include media('<=576px') {
        .tabs__presentation-content {
          bottom: 32px;
        }
      }
    }
    &_warrancy {
      @include media('<=576px') {
        .tabs__presentation-content {
          bottom: 16px;
        }
      }
    }
    &_support {
      @include media('<=576px') {
        .tabs__presentation-content {
          bottom: 16px;
        }
      }
    }
    &_road {
      @include media('<=576px') {
        .tabs__presentation-content {
        }
      }
    }
  }

  &__presentation-content {
    max-width: 535px;
    margin-right: auto;
    align-self: flex-start;
    @include media('<=991px') {
    }
    @include media('<=768px') {
      align-self: center;
      margin-right: 0;
      text-align: center;
    }
    @include media('<=576px') {
      position: relative;
    }
  }

  &__presentation-title {
    margin-bottom: 10px;
    @include media('<=991px') {
    }
    @include media('<=768px') {
      font-size: 24px;
      line-height: 31px;
    }
    @include media('<=576px') {
    }
  }

  &__presentation-description {
    @include media('<=991px') {
    }
    @include media('<=768px') {
    }
    @include media('<=576px') {
    }
  }

  &__presentation-icon-wrapper {
    display: flex;
    position: relative;
    @include media('<=768px') {
      height: 200px;
      width: 200px;
      margin-bottom: 20px;
    }
    &_large {
      @include media('<=768px') {
        justify-content: center;
        align-items: center;
      }
    }
    &_range {
      @include media('<=460px') {
        top: 17px;
      }
    }
  }

  &__presentation-icon {
    align-self: center;
    margin-left: 50px;
    min-width: 200px;
    @include media('<=768px') {
      min-width: unset;
      margin-left: 0;
    }
    &_large {
      margin-top: 15px;
      @include media('<=768px') {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
  }
  &__presentation-wrapper {
  }
}
