.feature-sixth-type-two {
  position: relative;
  background-color: #f5f5f5;
  overflow: hidden;

  &_ks-e-45 {
    background-color: #fff;
    .feature-sixth-type-two__container {
      min-height: 667px;
      @include media('<=1200px') {
        min-height: unset;
      }
    }
    .feature-sixth-type-two__img-wrapper {
      width: 847px;
      @include media('<=1200px') {
        width: 55%;
      }
      @include media('<=1050px') {
        width: 60%;
      }
      @include media('<=991px') {
        width: 45%;
      }
      @include media('<=768px') {
        width: 100%;
        margin-bottom: 23px;
      }
    }
    .feature-sixth-type-two__content {
      position: relative;
      right: -117px;
      @include media('<=1200px') {
        position: static;
        right: 0;
        padding: 50px 0;
      }
      @include media('<=768px') {
        padding: 0 16px;
        max-width: unset;
        margin-bottom: 27px;
      }
    }
    .feature-sixth-type-two__title {
      @include media('<=991px') {
        font-size: 20px;
        line-height: 24.5px;
      }
    }
    .feature-sixth-type-two__text {
      @include media('<=991px') {
        font-size: 15px;
        line-height: 18px;
      }
    }
    
    // .feature-sixth-type-two
  }

  &__container {
    display: flex;
    align-items: center;
    min-height: 547px;
    @include media('<=768px') {
      display: block;
      min-height: unset;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 720px;
    @include media('<=1200px') {
      width: 50%;
    }
    @include media('<=768px') {
      position: static;
      height: 100%;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__content {
    position: relative;
    max-width: 350px;
    display: flex;
    margin-right: 30px;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    text-align: left;
    z-index: 10;

    @include media('<=768px') {
      margin-right: 0;
      max-width: unset;
      text-align: center;
      margin-bottom: 60px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__title {
    margin-bottom: 18px;
    @include media('<=768px') {
      margin-bottom: 0;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 11px;
    }
    @include media('<=768px') {
      font-weight: 300;
    }
  }
}
