$rootElement: '.discount-modal';

.discount-modal {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  transition: all 0.3s ease;

  z-index: -1;
  opacity: 0;
  visibility: hidden;
  @include media('<=768px') {
    transform: unset;
    top: 0;
    right: 0;
    align-items: flex-start;
    padding: 51px 15px 15px 15px;
  }
  &.active {
    z-index: 400;
    opacity: 1;
    visibility: visible;
  }
  &.focused {
    @media (hover: none) and (pointer: coarse) {
      padding-top: 0;
      overflow-y: hidden;
      #{$rootElement}__wrapper {
        top: -50px;
      }
    }
  }
  &__wrapper {
    position: relative;
    width: 100%;
    min-width: 404px;
    max-width: 404px;
    background: linear-gradient(180deg, #ffffff 0%, #f3f3f3 100%);
    border: 10px solid #009eff;
    text-align: center;
    padding-bottom: 50px;
    @include media('<=768px') {
      border-width: 5px;
      min-width: 337px;
      max-width: 337px;
    }
  }

  &__close-btn {
    @include reset-btn();
    position: absolute;
    left: calc(100% + 24px);
    top: -10px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 67px;
    height: 67px;
    background-color: #009eff;
    @include media('<=768px') {
      top: 19px;
      right: 19px;
      left: unset;
      width: 16px;
      height: 16px;
      background-color: transparent;
    }
  }

  &__close-btn-icon {
    pointer-events: none;
    &_desktop {
      @include media('<=768px') {
        display: none;
      }
    }
    &_mobile {
      display: none;
      @include media('<=768px') {
        width: 16px;
        height: 16px;
        display: block;
      }
    }
  }

  &__title {
    font-weight: 300;
    font-size: 176px;
    line-height: 120%;
    color: #009eff;
    @include media('<=768px') {
      margin-top: 24px;
      line-height: 110%;
    }
    @include media('<=576px') {
      font-size: 120px;
      line-height: 100%;
    }
  }

  &__content {
    padding-bottom: 17px;
  }

  &__subtitle {
    font-size: 50px;
    line-height: 119.3%;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    color: #323941;
    @include media('<=576px') {
      font-size: 40px;
      line-height: 100%;
    }
  }

  &__description {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    @include media('<=768px') {
      max-width: 250px;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__btn {
    position: absolute;
    top: calc(100% - 28px);
    height: 61px;
    width: 234px;
    left: 50%;
    transform: translateX(-50%);
    @include media('<=768px') {
      width: 272px;
    }
  }
}
