@import '../../../styles/mixins';

.footer {
  background-color: #32393f;
  &__container {
    @include siteContainer();
    display: flex;
    align-items: center;
    min-height: 91px;
    padding-top: 20px;
    padding-bottom: 20px;

    @include media('<=991px') {
      display: block;
      text-align: center;
      padding-bottom: 75px;
    }
    @include media('<=768px') {
      padding-bottom: 100px;
    }
  }

  &__logoLink {
    margin-right: auto;
    @include media('<=991px') {
      display: inline-block;
      margin-right: 0;
      margin-bottom: 32px;
    }
  }

  &__logoImg {
  }

  &__items {
    display: flex;
    align-items: center;
    @include media('<=991px') {
      flex-direction: column-reverse;
    }
    @include media('<=576px') {
      max-width: 210px;
      margin: 0 auto;
    }
  }

  &__item {
    font-size: 13px;
    color: #fff;
    &:not(:last-child) {
      margin-right: 44px;
      @include media('<=991px') {
        margin-right: 0;
      }
    }
    &_phone {
      @include media('<=991px') {
        margin-top: 11px;
      }
    }
    &_copyright {
      @include media('<=991px') {
        margin-bottom: 11px;
      }
    }
    @include media('<=768px') {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
