.remain-time-modal {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  transition: all 0.3s ease;

  z-index: -1;
  opacity: 0;
  visibility: hidden;
  @include media("<=768px") {
    transform: unset;
    top: 0;
    right: 0;
    align-items: flex-start;
    padding: 51px 15px 15px 15px;
  }
  &.active {
    z-index: 200;
    opacity: 1;
    visibility: visible;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 540px;
    background: linear-gradient(180deg, #ffffff 0%, #f3f3f3 100%);
    border: 10px solid #009eff;
    @include media("<=768px") {
      border-width: 5px;
      display: flex;
      flex-direction: column;
    }
  }

  &__close-btn {
    @include reset-btn();
    position: absolute;
    left: calc(100% + 24px);
    top: -10px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 67px;
    height: 67px;
    background-color: #009eff;
    @include media("<=768px") {
      top: 19px;
      right: 19px;
      left: unset;
      width: 16px;
      height: 16px;
      background-color: transparent;
    }
  }

  &__close-btn-icon {
    &_desktop {
      @include media("<=768px") {
        display: none;
      }
    }
    &_mobile {
      display: none;
      @include media("<=768px") {
        width: 16px;
        height: 16px;
        display: block;
      }
    }
  }

  &__bg-wrapper {
    width: 100%;
    height: auto;
    padding: 0 15px;
    margin: 42px auto 64px auto;
    @include media("<=768px") {
      margin: 18px auto 13px auto;
      padding: 0 20px;
      order: 2;
    }
  }

  &__content {
    padding: 0 15px;
    text-align: center;
    @include media("<=768px") {
      margin-top: 52px;
      order: 1;
      margin-bottom: 13px;
    }
  }

  &__title {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    color: #323941;
    transition: all 0.3s ease;

    font-size: 35px;
    line-height: 43px;
    @include media("<=768px") {
      max-width: 320px;
      font-size: 27px;
      line-height: 92.8%;
      margin-bottom: 8px;
    }
  }

  &__description {
    color: #323941;
    margin-bottom: 35px;
    transition: all 0.3s ease;
    @include media("<=768px") {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 19px;
      max-width: 230px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__timer {
    padding: 12px 23px 18px 23px;
    border: 1px solid rgba(153, 153, 153, 0.2);
    display: grid;
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-bottom: 65px;
    @include media("<=768px") {
      order: 3;
      margin-bottom: 40px;

      padding: 13px 23px;
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:not(:last-child) {
        .remain-time-modal__timer-title {
          &::after {
            content: ":";
            position: absolute;
            height: 100%;
            top: 50%;
            transform: translateY(-50%);
            right: -30px;
            line-height: 110%;
            @include media("<=768px") {
              right: -20px;
              line-height: 0.8;
            }
          }
        }
      }
    }
    &-title {
      position: relative;
      font-weight: bold;
      font-size: 50px;
      line-height: 120%;
      text-transform: uppercase;
      color: #009eff;
      @include media("<=768px") {
        font-size: 37px;
        line-height: 92.8%;
      }
    }
    &-description {
      margin-top: -5px;
      font-size: 13px;
      line-height: 120%;
      color: #323941;
      @include media("<=768px") {
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  &__btn {
    position: absolute;
    top: calc(100% - 28px);
    height: 61px;
    width: 234px;
    left: 50%;
    transform: translateX(-50%);
    @include media("<=768px") {
      width: 272px;
    }
  }
  &_without-timer {
    .remain-time-modal__wrapper {
      @include media("<=768px") {
        display: block;
      }
    }
    .remain-time-modal__bg-wrapper {
      margin-top: 51px;
      margin-bottom: 48px;
      @include media("<=768px") {
        margin-top: 56px;
        margin-bottom: 23px;
      }
    }
    .remain-time-modal__title {
      @include media("<=768px") {
        margin-bottom: 17px;
      }
    }
    .remain-time-modal__description {
      margin-bottom: 0;
    }
    .remain-time-modal__content {
      padding-bottom: 76px;
      @include media("<=768px") {
        margin-top: 0;
        padding-bottom: 50px;
      }
    }
  }
}
