.build-in-front {
  position: relative;
  background-color: #0e0e16;
  overflow: hidden;
  @include media('<=768px') {
    background: radial-gradient(68.67% 47% at 50% 100%, #151d37 0%, #000000 100%);
  }
  &__shine-left {
    position: absolute;
    top: 25px;
    left: 0;

    @include media('<=768px') {
      display: none;
    }
  }

  &__img-wrapper {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    width: 720px;
    @include media('<=768px') {
      position: relative;
      width: 100%;
      height: auto;
    }
  }
  &__img {
  }

  &__container {
    display: flex;
    align-items: center;
    min-height: 547px;
    @include media('<=768px') {
      min-height: auto;
    }
  }

  &__content {
    position: relative;
    max-width: 553px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    @include media('<=768px') {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 18px;
    @include media('<=991px') {
      margin-bottom: 8px;
    }
  }

  &__text {
    @include media('<=768px') {
      font-size: 15px;
      line-height: 18px;
    }
    &:not(:last-child) {
      margin-bottom: 11px;
    }
    &_last {
      @include media('<=768px') {
        font-size: 13px;
        line-height: 15px;
        color: #fff;
      }
    }
  }
}
