$rootClass: '.segway-protect';
/**
* Без класса
* Десктоп - без фона, с кругом, без бордера, высота фиксированная, без отступов
* Мобилка - без фона, с кругом, без бордера, высота фиксированная, без отступов
*
* type-1 (для моделей)
* Десктоп - без фона, с кругом, без бордера, высота фиксированная, без отступов
* Мобилка (768) - без фона, без круга, с бордером, высота фиксированная, без отступов
*
* type-2 (для главной)
* Десктоп - с фоном, с кругом, без бордера, высота фиксированная, без отступов
* Мобилка (768) - с фоном, с кругом, без бордера, высота фиксированная, без отступов
*/

#{$rootClass} {
  &_type-1 {
    #{$rootClass}__img-wrapper::before {
      content: '';
      position: absolute;
      width: 272px;
      height: 272px;
      top: 50%;
      right: 50%;
      border-radius: 50%;
      transform: translate(50%, -50%);
      background: #009eff;
      @include media('<=991px') {
        width: 200px;
        height: 200px;
      }
      @include media('<=768px') {
        display: none;
      }
    }
    #{$rootClass}__cart {
      @include media('<=768px') {
        border: 5px solid #009eff;
        padding: 10px 15px 10px 15px;
      }
    }
  }
  &_type-2 {
    background-color: #f7f7f7;
    @include media('<=768px') {
      background-color: #fff;
    }
    #{$rootClass}__img-wrapper::before {
      content: '';
      position: absolute;
      width: 272px;
      height: 272px;
      top: 50%;
      right: 50%;
      border-radius: 50%;
      transform: translate(50%, -50%);
      background: #009eff;
      @include media('<=991px') {
        width: 200px;
        height: 200px;
      }
      @include media('<=768px') {
        width: 120px;
        height: 120px;
      }
    }
    #{$rootClass}__container {
      @include media('<=576px') {
        min-height: 154px;
      }
    }
  }
  &__container {
    min-height: 424px;
    display: flex;
    align-items: center;
    @include media('<=991px') {
    }
    @include media('<=768px') {
      min-height: 200px;
      margin-bottom: 17px;
    }
    @include media('<=576px') {
      min-height: 145px;
    }
  }

  &__cart {
    display: flex;
    width: 100%;
    @include media('<=991px') {
      justify-content: center;
    }
    @include media('<=768px') {
      flex-direction: row-reverse;
    }
  }

  &__img-wrapper {
    position: relative;
    margin-right: 55px;
    width: 278px;
    flex: 0 0 278px;
    @include media('<=991px') {
      width: 200px;
      flex: 0 0 200px;
    }
    @include media('<=768px') {
      margin-right: 0;
      transform: rotate(90deg);
      flex: 0 0 140px;
      width: 140px;
      height: 140px;
    }
    @include media('<=576px') {
      width: auto;
      flex: 0 1 120px;
      height: 120px;
    }
  }

  &__img {
  }

  &__content {
    @include media('<=768px') {
      margin-right: auto;
      min-width: 210px;
    }

    @include media('<=576px') {
    }
  }

  &__title {
    margin-bottom: 9px;
    b {
      color: #009eff;
    }
    @include media('<=991px') {
      max-width: 360px;
      font-size: 28px;
      line-height: 32px;
    }
    @include media('<=768px') {
      padding-top: 10px;
    }
    @include media('<=576px') {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__text {
    font-size: 25px;
    line-height: 33px;
    @include media('<=768px') {
      font-size: 18px;
      line-height: 22px;
    }
    @include media('<=768px') {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }
  }
}
