.kick-scooter-overview {
  &__container {
    margin-top: 50px;
    text-align: center;
  }

  &__title-subtitle {
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    color: #323941;
  }

  &__title {
    display: block;
    white-space: nowrap;
    @include media('<=1200px') {
      white-space: normal;
    }
    @include media('<=991px') {
      font-size: 28px;
      line-height: 32px;
    }
  }

  &__subtitle {
    display: block;
    @include media('<=1200px') {
      white-space: normal;
    }
    @include media('<=991px') {
      font-weight: bold;
      font-size: 18px;
      line-height: 120%;
      color: #009eff;
    }
  }

  &__img-wrapper {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 30px;
    @include media('<=768px') {
      width: 100%;
    }
  }
  &__img {
    // object-fit: contain;
    // display: block;
    // margin: 0 auto;
    // width: auto;
    // height: auto;
  }
}
