.title-with-description {
  position: relative;
  &__container {
    @include media('<=991px') {
    }
  }
  &__title {
    margin-bottom: 10px;
    text-align: center;
    @include media('<=991px') {
      margin-bottom: 18px;
      font-size: 28px;
      line-height: 32px;
    }
  }
  &__description {
    text-align: center;
    @include media('<=991px') {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
