.form-with-warrancy {
  &__wrapper {
    padding: 20px;
    background-color: #fff;
    border: 2px solid #dddddd;
    @include media('<=991px') {
      border-width: 2px;
    }
    @include media('<=768px') {
      padding: 20px 16px;
      background-color: transparent;
    }
    @include media('<=576px') {
      border-width: 5px;
    }
    @include media('<=480px') {
      padding: 8px 13px 15px 13px;
    }
  }
  &__top {
    display: flex;
    @include media('<=991px') {
      display: block;
    }
  }

  &__title-with-buttons {
    flex: 1 1 auto;
  }

  &__form-title {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 22px;
    color: #323941;
    span {
      font-weight: 700;
    }
    @include media('<=768px') {
      margin-bottom: 8px;
    }
    @include media('<=480px') {
      text-align: center;
      max-width: 190px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__form-link {
    margin-left: 5px;
    color: #323941;
    font-size: 16px;
    text-decoration: none;
    &:hover {
      span {
        text-decoration: underline;
      }
    }
    span {
      font-weight: 400;
      display: inline-block;
      margin-left: 5px;
      color: #009eff;
    }
  }

  &__form-buttons {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 9px;
    margin-bottom: 12px;
    @include media('<=991px') {
      margin-bottom: 10px;
    }
    @include media('<=480px') {
      margin-bottom: 19px;
    }
  }

  &__form-button {
    @include reset-btn();
    height: 38px;
    border: 1px solid #999999;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: #323941;
    transition: all 0.3s ease;
    &:hover,
    &.active {
      color: #fff;
      border-color: #009eff;
      background-color: #009eff;
      @include media('<=768px') {
        .form-with-warrancy__form-button-price {
          color: #fff;
        }
      }
      &:active {
        color: #fff;
        background-color: #009eff;
      }
    }

    @media (pointer: coarse) {
      &:hover:not(.active),
      &:focus:not(.active) {
        color: #323941;
        border: 1px solid #999999;
        background-color: transparent;
        .form-with-warrancy__form-button-price {
          color: #009eff;
        }
      }
    }

    @include media('<=575px') {
      flex-direction: column;
      min-height: 55px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 18px;
      line-height: 19px;
    }
  }

  &__form-button-year {
    pointer-events: none;
  }

  &__form-button-separator {
    margin: 0 5px;
    pointer-events: none;
    @include media('<=575px') {
      display: none;
    }
  }
  &__form-button-price {
    pointer-events: none;
    @include media('<=575px') {
      color: #009eff;
    }
  }

  &__form-prices-subtitle-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    pointer-events: none;
    @include media('<=991px') {
      margin-bottom: 10px;
    }
    @include media('<=480px') {
      display: block;
    }
  }

  &__form-prices {
    min-width: 97px;
    max-width: 97px;
    @include media('<=991px') {
      min-width: 93px;
      max-width: 93px;
    }
    @include media('<=768px') {
    }
    @include media('<=576px') {
      min-width: auto;
      max-width: none;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include media('<=480px') {
      margin-bottom: 18px;
    }
  }

  &__form-price-old {
    display: block;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: #323941;
    @include media('<=991px') {
    }
    @include media('<=768px') {
    }
    @include media('<=768px') {
      font-weight: 300;
      font-size: 22px;
      line-height: 27px;
    }
  }

  &__form-price-new {
    display: block;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    color: #323941;
    white-space: nowrap;
    @include media('<=991px') {
    }
    @include media('<=768px') {
    }
    @include media('<=576px') {
      font-size: 38px;
      line-height: 46px;
    }
  }

  &__title-with-image {
    display: flex;
    align-items: center;
    flex: 0 0 312px;
    height: 87px;
    padding: 10px 10px 10px 19px;
    background-color: #f7f7f7;
    @include media('<=991px') {
      flex: 0 0 272px;
      height: 101px;
    }
    @include media('<=900px') {
      flex: 0 0 272px;
      margin-left: auto;
    }
    @include media('<=480px') {
      display: none;
    }
  }

  &__form-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    max-width: 160px;
    color: #323941;
    span {
      color: #009eff;
    }
    @include media('<=991px') {
      order: 3;
      min-width: 137px;
    }
    @include media('<=768px') {
      // display: block;
      // margin: 0 auto;
      // text-align: center;
    }
    @include media('<=576px') {
      // display: none;
    }
    @include media('<=480px') {
      display: none;
    }
  }

  &__form-img-wrapper {
    position: relative;
    width: 74px;
    flex: 0 0 74px;
    height: 53px;
    margin-right: 23px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      width: 67px;
      height: 67px;
      border-radius: 100%;
      background: #999999;
      opacity: 0.33;
    }
    @include media('<=576px') {
      // display: none;
    }
    span {
      transform: scale(1.2);
    }
  }

  &__form-img {
    @include media('<=991px') {
    }
    @include media('<=768px') {
    }
    @include media('<=576px') {
    }
  }

  &__form-actions {
    display: flex;
    column-gap: 22px;
    @include media('<=991px') {
      column-gap: 20px;
    }
    @include media('<=768px') {
    }
    @include media('<=576px') {
      column-gap: 8px;
    }
  }

  &__form-action {
    text-transform: uppercase;
    flex: 1 1 auto;
    @include media('<=991px') {
    }
    @include media('<=768px') {
    }
    @include media('<=576px') {
      padding: 0 5px;
    }
  }
  &_preorder {
    .form-with-warrancy__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media('<=576px') {
        flex-direction: column;
        align-items: center;
      }
    }
    .form-with-warrancy__form-prices-subtitle-image {
      margin-bottom: 0;
    }
    .form-with-warrancy__form-actions {
      @include media('<=576px') {
        align-self: stretch;
      }
    }
  }
}

.form-colors {
  @include media('<=768px') {
    margin: 8px 16px 22px 16px;
  }
  &__wrapper {
    margin-right: 28px;
    @include media('<=991px') {
      margin-bottom: 20px;
    }
    @include media('<=768px') {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 15px;
      width: 100%;
      background-color: #f7f7f7;
    }
  }
  &__title-desktop {
    margin-bottom: 6px;
    @include media('<=768px') {
      display: none;
    }
  }
  &__title-mobile {
    display: none;
    @include media('<=768px') {
      display: block;
      margin-right: auto;
      span {
        text-transform: uppercase;
      }
    }
  }
  &__items {
    display: flex;
    align-items: center;
    @include media('<=480px') {
      justify-content: center;
    }
  }
  &__item {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #323941;
    width: 49px;
    flex: 0 0 49px;
    height: 36px;
    @include media('<=480px') {
      width: 48px;
      flex: 0 0 48px;
      height: 48px;
      border-width: 2px;
    }
    &:not(:last-child) {
      margin-right: 9px;
      @include media('<=480px') {
        margin-right: 11px;
      }
    }
    &.active {
      width: 51px;
      flex: 0 0 51px;
      height: 38px;
      @include media('<=480px') {
        width: 50px;
        flex: 0 0 50px;
        height: 50px;
        border-width: 3px;
      }
    }
  }
  &__item-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.bundle-toggler {
  &__container {
    margin-bottom: 24px;
    @include media('<=991px') {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-size: 18px;
    margin-bottom: 11px;
    font-weight: 700;
    @include media('<=768px') {
      margin-bottom: 8px;
      text-align: center;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 21px;
    min-height: 130px;
    @include media('<=991px') {
      column-gap: 10px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 15px;
    border: 1px solid #999999;
    box-sizing: border-box;
    height: 100%;
    color: #323941;
    transition: all 0.3s ease;

    @include media('<=991px') {
      padding: 7px;
    }

    &:hover,
    &.active {
      border-color: #009eff;
      background-color: #009eff;
      cursor: pointer;
      .bundle-toggler__price,
      .bundle-toggler__name {
        color: #fff;
      }
    }
    &:focus,
    &:not(.active) {
      @media (pointer: coarse) {
        background-color: transparent;
        border-color: #999999;
        .bundle-toggler__price,
        .bundle-toggler__name {
          color: #009eff;
        }
      }
    }
  }

  &__img {
    margin-bottom: 12px;
    pointer-events: none;
    @include media('<=991px') {
      margin-bottom: 16px;
    }
  }

  &__name-with-price {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 119%;
    pointer-events: none;
  }

  &__name {
    margin-right: 5px;
    transition: all 0.3s ease;
  }

  &__price {
    font-weight: 700;
    transition: all 0.3s ease;
    @include media('<=991px') {
      font-weight: 400;
      color: #009eff;
    }
  }
}
