.top-stock {
  background-color: #009eff;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    min-height: 48px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    line-height: 22px;

    padding-top: 5px;
    padding-bottom: 5px;
  }
  @include media("<=576px") {
    display: none;
  }
}