.top-stock {
  background-color: #009eff;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;

    min-height: 48px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.02em;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;

    padding-top: 5px;
    padding-bottom: 5px;
    @include media('<=768px') {
      min-height: 33px;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}
