.feature-first-type-one {
  position: relative;
  background-color: #0e0e16;
  overflow: hidden;

  @include media('<=991px') {
    background-color: #05080c;
  }

  &_ks-e22 {
    .feature-first-type-one__img-wrapper {
      width: 720px;
      @include media('<=991px') {
        width: 100%;
      }
      @include media('<=768px') {
        bottom: unset;
        top: 0;
      }
    }
    .feature-first-type-one__title {
      @include media('<=576px') {
        max-width: 80%;
      }
    }
    .feature-first-type-one__text {
      @include media('<=576px') {
        max-width: 85%;
      }
    }
  }

  &__bg-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    > span {
      height: 100% !important;
    }
  }
  &__bg-image {
  }

  &__container {
    display: flex;
    align-items: center;
    min-height: 547px;
    @include media('<=991px') {
      min-height: auto;
      height: 471px;
    }
  }

  &__img-wrapper {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 782px;
    @include media('<=991px') {
      width: 100%;
    }
    @include media('<=768px') {
      bottom: unset;
      top: 0;
    }
  }
  &__img {
    @include media('<=768px') {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    position: relative;
    max-width: 553px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    @include media('<=991px') {
      margin-top: auto;
      margin-bottom: 45px;
    }
  }

  &__title {
    margin-bottom: 18px;

    @include media('<=991px') {
      margin-bottom: 8px;
    }
  }

  &__text {
    @include media('<=991px') {
    }
  }
}

.feature-first-type-two {
  position: relative;
  background-color: #0e0e16;
  overflow: hidden;

  @include media('<=991px') {
    background-color: #05080c;
  }

  &_ks-e-45 {
    background-color: #05080c;
    .feature-first-type-two__container {
      @include media('<=576px') {
        height: auto;
        min-height: 471px;
      }
    }
    .feature-first-type-two__content {
      max-width: 563px;
      @include media('<=991px') {
        max-width: 50%;
        margin: auto auto auto 0;
      }
      @include media('<=576px') {
        max-width: 100%;
        margin-top: 290px;
        margin-bottom: 26px;
      }
    }
    .feature-first-type-two__title {
      @include media('<=991px') {
        max-width: 250px;
        font-size: 20px;
        line-height: 24.5px;
      }
      @include media('<=576px') {
        margin-bottom: 15px;
      }
    }
    .feature-first-type-two__text {
      max-width: 473px;
      @include media('<=991px') {
        font-size: 15px;
        line-height: 18px;
      }
    }
  }

  &__bg-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    > span {
      height: 100% !important;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    min-height: 547px;
    @include media('<=991px') {
      min-height: auto;
      height: 471px;
    }
  }

  &__content {
    position: relative;
    max-width: 553px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    @include media('<=991px') {
      margin-top: auto;
      margin-bottom: 45px;
    }
  }

  &__title {
    margin-bottom: 18px;
    @include media('<=991px') {
      margin-bottom: 8px;
    }
  }

  &__text {
    @include media('<=991px') {
    }
  }
}
