.feature-first-type-one {
  position: relative;
  background-color: #0e0e16;
  overflow: hidden;

  @include media('<=991px') {
    background-color: #05080c;
  }

  &_ks-e22 {
    .feature-first-type-one__img-wrapper {
      width: 720px;
      @include media('<=991px') {
        width: 100%;
      }
      @include media('<=768px') {
        bottom: unset;
        top: 0;
      }
    }
    .feature-first-type-one__title {
      @include media('<=576px') {
        max-width: 80%;
      }
    }
    .feature-first-type-one__text {
      @include media('<=576px') {
        max-width: 85%;
      }
    }
  }

  &__bg-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    > span {
      height: 100% !important;
    }
  }
  &__bg-image {
  }

  &__container {
    display: flex;
    align-items: center;
    min-height: 547px;
    @include media('<=991px') {
      min-height: auto;
      height: 471px;
    }
  }

  &__img-wrapper {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 782px;
    @include media('<=991px') {
      width: 100%;
    }
    @include media('<=768px') {
      bottom: unset;
      top: 0;
    }
  }
  &__img {
    @include media('<=768px') {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    position: relative;
    max-width: 553px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    @include media('<=991px') {
      margin-top: auto;
      margin-bottom: 45px;
    }
  }

  &__title {
    margin-bottom: 18px;

    @include media('<=991px') {
      margin-bottom: 8px;
    }
  }

  &__text {
    @include media('<=991px') {
    }
  }
}

.feature-first-type-two {
  position: relative;
  background-color: #0e0e16;
  overflow: hidden;

  @include media('<=991px') {
    background-color: #05080c;
  }

  &_ks-e22 {
    .feature-first-type-two__img-wrapper {
      width: 720px;
      @include media('<=991px') {
        width: 100%;
      }
      @include media('<=768px') {
        bottom: unset;
        top: 0;
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100%;
    height: 500%;
    background: radial-gradient(ellipse at center left, #202e57 0%, #04060a 30%, #04060a 100%);
    @include media('<=768px') {
      content: '';
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 200vw;
      height: 100%;
      background: radial-gradient(ellipse at center bottom, #405aaa 0%, #04060a 62%, #04060a 100%);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    min-height: 547px;
    @include media('<=991px') {
      min-height: auto;
      height: 471px;
    }
  }

  &__img-wrapper {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 782px;
    @include media('<=991px') {
      width: 100%;
    }
    @include media('<=768px') {
      bottom: unset;
      top: 0;
    }
  }
  &__img {
    @include media('<=768px') {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    position: relative;
    max-width: 553px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    @include media('<=991px') {
      margin-top: auto;
      margin-bottom: 45px;
    }
  }

  &__title {
    margin-bottom: 18px;

    @include media('<=991px') {
      margin-bottom: 8px;
    }
  }

  &__text {
    @include media('<=991px') {
    }
  }
}
