@import '@/styles/mixins';

.group {
  position: relative;
  &:focus-within {
    .main {
      z-index: 2;
    }
    .overlay {
      z-index: 1;
    }
  }
}

.main {
  position: relative;
  height: 40px;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    width: 1px;
    height: 17px;
    background-color: #dddddd;
    @include media('<=768px') {
      right: 49px;
      height: 32px;
    }
  }
  @include media('<=768px') {
    height: 60px;
  }
}

.placeholder {
  position: absolute;
  top: 5px;
  left: 13px;
  font-size: 10px;
  color: #999999;
  &::selection {
    background-color: transparent;
  }
  @include media('<=768px') {
    top: 12px;
    left: 11px;
    font-size: 13px;
  }
}

.input {
  width: 100%;
  height: 100%;
  padding-top: 13px;
  padding-left: 13px;
  padding-right: 13px;

  color: #323941;
  font-size: 13px;
  border: 1px solid rgba(153, 153, 153, 0.33);
  transition: all 0.3s ease;
  &:focus {
    border: 1px solid #009eff;
    outline: 0;
    ~ svg {
      transform: translateY(-50%) rotate(180deg);
    }
  }
  &::placeholder {
    font-size: 13px;
    line-height: 120%;
    color: #999999;
    @include media('<=768px') {
      font-size: 16px;
    }
  }
  @include media('<=768px') {
    padding-left: 12px;
    padding-top: 16px;
    padding-right: 16px;
    font-size: 16px;
  }
}

.overlay {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;

  width: calc(100% + 10px + 10px);
  height: calc(100% + 10px + 200px);

  margin: 0;
  padding: 60px 4px 4px 0;

  background-color: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 2px;
  overflow: hidden;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1;

  @include media('<=768px') {
    padding-top: 75px;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.list {
  height: 100%;
  margin: 0;
  padding: 0 8px 0 0;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 2px;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #323941;
    border-radius: 100px;
  }
}

.listItem {
  @include reset-btn();
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;
  padding: 0 10px;
  margin-left: 4px;
  margin-right: 4px;

  color: #323941;
  font-size: 13px;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    background-color: #009eff4d;
  }
  &:not(:last-child) {
    border-bottom: 1px solid rgba(153, 153, 153, 0.33);
  }
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  font-size: 18px;
  color: #999999;
  cursor: pointer;
  transition: all .3s ease;
  @include media('<=768px') {
    font-size: 30px;
    right: 10px;
  }
}
