html,
body,
input,
input::placeholder,
textarea,
textarea::placeholder,
button {
  font-family: "ProximaNova", "sans-serif";
}

html {
  line-height: 1.35;
}

html,
body,
input,
input::placeholder,
textarea,
textarea::placeholder,
button {
  font-family: "ProximaNova", "sans-serif";
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
input::placeholder,
textarea,
textarea::placeholder,
button,
span,
div {
  font-family: "ProximaNova", "sans-serif";
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: calc(960px + (32px * 2));
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  @include media("<=991px") {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
  color: #323941;

  &_white {
    color: #fff;
  }
  @include media("<=768px") {
    font-size: 28px;
    line-height: 32px;
  }

  &_fz-20 {
    @include media("<=768px") {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &_fz-80 {
    font-size: 80px;
    line-height: 70px;
    @include media("<=1200px") {
      font-size: 37px;
      line-height: 34px;
    }
  }
  &_fz-94 {
    font-size: 108px;
    line-height: 94px;
    @include media("<=1200px") {
      font-size: 37px;
      line-height: 34px;
    }
  }
  &_fz-108 {
    font-size: 108px;
    line-height: 94px;
    @include media("<=1200px") {
      font-size: 41px;
      line-height: 38px;
    }
  }
}

.text {
  font-size: 18px;
  line-height: 22px;
  color: #323941;

  @include media("<=768px") {
    font-size: 14px;
    line-height: 17px;
  }

  &_white {
    color: #fff;
  }

  &_grey {
    color: #6c6c6c;
  }

  &_uppercase {
    text-transform: uppercase;
  }

  &_grey2 {
    color: #999999;
  }

  &_bold {
    font-weight: 600;
  }

  &_13 {
    font-size: 13px;
    line-height: 16px;
    @include media("<=768px") {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &_16 {
    font-size: 16px;
    line-height: 19px;
  }

  &_25 {
    font-size: 25px;
    line-height: 23px;
    font-weight: bold;
    text-transform: uppercase;
    @include media("<=768px") {
      font-size: 18px;
      line-height: 23px;
    }
  }

  &_300-on-mobile {
    @include media("<=768px") {
      font-weight: 300;
    }
  }
}

.ui-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: 48px;
  padding-right: 40px;
  padding-left: 40px;

  font-size: 18px;

  background-color: #009eff;
  text-decoration: none;
  color: #fff;

  &_bold {
  }

  &_uppercase {
  }

  &_type-1 {
    min-height: 48px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
  }
}

.ui-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: #009eff;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 42px;

  font-weight: 600;
  font-size: 13px;
  color: #fff;
  border: 1px solid #009eff;
  outline: none;

  transition: all 0.3s ease;
  &:hover,
  &:focus {
    background-color: transparent;
    color: #c6c6c6;
    border-color: #c6c6c6;
    cursor: pointer;
  }
  &_outline {
    border: 1px solid #c6c6c6;
    background-color: transparent;
    color: #c6c6c6;
    &:hover,
    &:focus {
      background-color: #009eff;
      color: #fff;
      border-color: #009eff;
      cursor: pointer;
    }
  }
  &_lg {
    min-height: 48px;
    font-weight: bold;
    font-size: 18px;
  }
}

.hide-768 {
  @include media("<=768px") {
    display: none;
  }
}
.show-block-768 {
  display: none;
  @include media("<=768px") {
    display: block;
  }
}

.hide-576 {
  @include media("<=576px") {
    display: none;
  }
}
.show-block-576 {
  display: none;
  @include media("<=576px") {
    display: block;
  }
}
