html,
body,
input,
input::placeholder,
textarea,
textarea::placeholder,
button {
  font-family: 'ProximaNova', 'sans-serif';
}

button,
a {
  cursor: pointer;
}

html {
  line-height: 1.35;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  &.disabled {
    overflow-y: hidden;
  }
}

html,
body,
input,
input::placeholder,
textarea,
textarea::placeholder,
button {
  font-family: 'ProximaNova', 'sans-serif';
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
input::placeholder,
textarea,
textarea::placeholder,
button,
span,
div {
  font-family: 'ProximaNova', 'sans-serif';
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: calc(960px + (32px * 2));
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  @include media('<=991px') {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
  color: #323941;

  &_white {
    color: #fff;
  }
  @include media('<=768px') {
    font-size: 28px;
    line-height: 32px;
  }

  &_fz-20 {
    @include media('<=768px') {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &_fz-80 {
    font-size: 80px;
    line-height: 70px;
    @include media('<=1200px') {
      font-size: 37px;
      line-height: 34px;
    }
  }
  &_fz-94 {
    font-size: 108px;
    line-height: 94px;
    @include media('<=1200px') {
      font-size: 37px;
      line-height: 34px;
    }
  }
  &_fz-108 {
    font-size: 108px;
    line-height: 94px;
    @include media('<=1200px') {
      font-size: 41px;
      line-height: 38px;
    }
  }
}

.text {
  font-size: 18px;
  line-height: 22px;
  color: #323941;

  @include media('<=768px') {
    font-size: 14px;
    line-height: 17px;
  }

  &_white {
    color: #fff;
  }

  &_grey {
    color: #6c6c6c;
  }

  &_uppercase {
    text-transform: uppercase;
  }

  &_grey2 {
    color: #999999;
  }

  &_bold {
    font-weight: 600;
  }

  &_13 {
    font-size: 13px;
    line-height: 16px;
    @include media('<=768px') {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &_16 {
    font-size: 16px;
    line-height: 19px;
  }

  &_25 {
    font-size: 25px;
    line-height: 23px;
    font-weight: bold;
    text-transform: uppercase;
    @include media('<=768px') {
      font-size: 18px;
      line-height: 23px;
    }
  }

  &_300-on-mobile {
    @include media('<=768px') {
      font-weight: 300;
    }
  }
}

.bold {
  font-size: 700;
}

.accent-color {
  color: #009eff;
}

.accent-background {
  background-color: #009eff;
}

.super-accent {
  font-weight: 700;
  color: #009eff;
}

.ui-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #009eff;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 48px;
  outline: none;
  border: 0;
  text-decoration: none;
  transition: all 0.5s ease;

  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;

  @include media('<=768px') {
    font-size: 16px;
    white-space: nowrap;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #009eff 0%, #007bcd 100%);
    opacity: 0;
    transition: all 0.7s ease;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #009eff;
    background-color: transparent;
    opacity: 0;
    z-index: 10;
    transition: all 0.7s ease;
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
    &::before {
      opacity: 1;
    }
  }

  &:active {
    background-color: #fff;
    color: #009eff;
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }

  &:active {
    outline: none;
    border: none;
    background-color: #fff;
    color: #009eff;
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }

  span {
    position: relative;
    z-index: 10;
    font-size: inherit;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: inherit;
    font-size: inherit;
    text-transform: inherit;
    color: inherit;
  }

  &_outline {
    border: 1px solid #c6c6c6;
    background-color: transparent;
    color: #c6c6c6;
    &:hover,
    &:focus {
      background-color: #009eff;
      color: #fff;
      border-color: #009eff;
      cursor: pointer;
    }
  }

  &_lg {
    min-height: 48px;
    font-size: 18px;
  }

  &_with-icon {
    font-weight: 400;
    span {
      display: flex;
      align-items: center;
    }
    svg {
      margin-left: 44px;
      font-size: 25px;
    }
  }

  &_fill-grey {
    background-color: #323941;
    &::before {
      background: linear-gradient(180deg, #323941 0%, #171b1f 100%);
    }
    &::after {
      border: 3px solid #323941;
    }
    &:active,
    &:focus {
      color: #323941;
    }
  }

  &_added {
    background-color: #6acd68;
    pointer-events: none;
    &:active,
    &:focus,
    &:hover {
      background-color: #6acd68;
      color: #009eff;
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 0;
      }
    }

    span {
      visibility: hidden;
      &::after {
        white-space: nowrap;
        content: 'ADDED TO CART';
        visibility: visible;
        display: block;
        position: absolute;
        color: #fff;
        transition: all 0.3s ease;
      }
    }
  }
}

.ui-glass-link {
}

.ui-scroll-up {
  position: fixed;
  bottom: 30px;
  right: 30px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;
  background-color: #f7f7f7;

  border: 0;
  outline: none;

  z-index: 150;
  transition: all 0.3s ease;
  cursor: pointer;

  @include media('<=768px') {
    bottom: 85px;
    right: 16px;
  }
  &_disabled {
    pointer-events: none;
    opacity: 0;
  }
  &__img-wrapper {
    position: relative;
    top: -2px;
    display: block;
    width: 20px;
    height: 10px;
  }
}

.ui-input {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #c4c4c4;
  padding-bottom: 15px;
  border: 0;
  border-bottom: 1px solid #c4c4c4;
  outline: none;
  background-color: transparent;

  &::placeholder {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #c4c4c4;
    @include media('<=576px') {
      font-size: 14px;
    }
  }
  @include media('<=576px') {
    font-size: 14px;
  }
}

.hide-991 {
  @include media('<=991px') {
    display: none !important;
  }
}
.show-block-991 {
  display: none !important;
  @include media('<=991px') {
    display: block !important;
  }
}

.hide-900 {
  @include media('<=900px') {
    display: none !important;
  }
}
.show-block-900 {
  display: none !important;
  @include media('<=900px') {
    display: block !important;
  }
}

.show-grid-991 {
  display: none !important;
  @include media('<=991px') {
    display: grid !important;
  }
}

.hide-768 {
  @include media('<=768px') {
    display: none !important;
  }
}
.show-block-768 {
  display: none !important;
  @include media('<=768px') {
    display: block !important;
  }
}

.hide-576 {
  @include media('<=576px') {
    display: none !important;
  }
}
.show-block-576 {
  display: none !important;
  @include media('<=576px') {
    display: block !important;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.bb-0 {
  border-bottom: 0 !important;
}

.hide {
  display: none !important;
}

.break-json {
  white-space: break-spaces;
  word-break: break-word;
}

.inline-flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

#__next {
  overflow-y: hidden;
}

.custom-input {
  position: relative;
  height: 40px;
  @include media('<=768px') {
    height: 50px;
  }
  &__input {
    width: 100%;
    height: 100%;
    padding-left: 13px;
    padding-right: 13px;

    color: #323941;
    font-size: 13px;
    border: 1px solid rgba(153, 153, 153, 0.33);
    transition: all 0.3s ease;

    &:focus {
      border: 1px solid #009eff;
      outline: 0;
      &:read-only {
        border: 1px solid rgba(153, 153, 153, 0.33);
      }
    }

    &::placeholder {
      font-size: 13px;
      line-height: 120%;
      color: #999999;
      @include media('<=768px') {
        font-size: 16px;
        font-weight: 300;
      }
    }

    @include media('<=768px') {
      padding-left: 16px;
      padding-right: 16px;
      font-size: 16px;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    font-size: 26px;
    color: #999999;
    fill: #999999;
  }
}

.stripe-element {
  height: 40px;
  padding-left: 13px;
  border: 1px solid rgba(153, 153, 153, 0.33);
  @include media('<=768px') {
    height: 50px;
  }
}