html,
body,
input,
input::placeholder,
textarea,
textarea::placeholder,
button {
  font-family: "ProximaNova", "sans-serif";
}

html {
  line-height: 1.35;
}

html,
body,
input,
input::placeholder,
textarea,
textarea::placeholder,
button {
  font-family: "ProximaNova", "sans-serif";
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
input::placeholder,
textarea,
textarea::placeholder,
button,
span,
div {
  font-family: "ProximaNova", "sans-serif";
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: calc(960px + (32px * 2));
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  @include media("<=991px") {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title-1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
  color: #323941;
  &_white {
    color: #fff;
  }
  @include media("<=991px") {
    font-size: 28px;
    line-height: 32px;
  }
}

.text {
  font-size: 18px;
  line-height: 22px;
  color: #323941;

  &_white {
    color: #fff;
  }
}
