.main-page {
  overflow-x: hidden;
  &__items {
    padding-top: 41px;
    padding-bottom: 30px;
    @include media('<=576px') {
      padding: 0;
    }
  }
  &__title {
    margin: 32px 0 32px 0;
    text-align: center;

    font-weight: bold;
    font-size: 50px;
    line-height: 120%;

    color: #323941;
  }
  &__protect {
    margin-bottom: 50px;
    @include media('<=576px') {
      margin-bottom: 25px;
    }
  }
  &__breadcrumbs {
    margin: 20px 0 0 0;
  }
  &__info-link {
    margin-top: 48px;
    margin-bottom: 60px;
    @include media('<=768px') {
      margin-top: 37px;
      margin-bottom: 46px;
    }
  }
  &__tabs {
    margin-bottom: 50px;
    @include media('<=576px') {
      margin-bottom: 0;
    }
  }
  &__sliders {
    padding-top: 51px;
    padding-bottom: 46px;
    background: linear-gradient(0deg, #eeeeee 0%, rgba(245, 245, 245, 0.79) 43.81%, rgba(255, 255, 255, 0) 82.46%);
    @include media('<=768px') {
      padding-top: 34px;
      padding-bottom: 37px;
    }
  }
  &__margin-slider {
    margin-bottom: 60px;
    @include media('<=768px') {
      margin-bottom: 47px;
    }
  }
  &__videos {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.admin-page {
  &__container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 30px;
  }
  &__title {
    margin-bottom: 20px;
  }
  
  &__content-item {
    margin-bottom: 50px;
  }

  &__subtitle {
  }

  &__subtitle {
    font-size: 30px;
    line-height: 1.35;
  }

  &__aside {
    position: relative;
    &-nav {
      position: sticky;
      top: 30px;
    }

    &-link {
      display: block;
      text-align: left;
      text-decoration: none;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__content {
  }

  &__form {
    margin: 20px 0 0 0;
    padding: 15px 20px;
    border: 1px solid rgba(153, 153, 153, 0.33);
    max-width: 500px;
    &-title {
      margin-bottom: 10px;
    }
    &-group {
      margin-bottom: 10px;
    }
    &-btn {}
  }
}
