.packing-list {
  background: linear-gradient(to top, #efefef, rgba(255, 255, 255, 0.8));

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 40px;
    @include media("<=991px") {
      padding-top: 50px;
      padding-bottom: 25px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    @include media("<=768px") {
      font-size: 26px;
      line-height: 32px;
    }
    &_desktop {
      margin-bottom: 30px;
      @include media("<=991px") {
        display: none;
      }
    }
    &_mobile {
      display: none;
      order: -1;
      margin-bottom: 25px;
      @include media("<=991px") {
        display: block;
      }
    }
  }

  &__media {
    max-width: 488px;
    flex: 1 1 40%;
    align-self: center;
    margin-right: 20px;
    @include media("<=991px") {
      margin-right: 0;
      width: 100%;
      flex: 0 1 auto;
    }
  }

  &__video-wrapper {
    position: relative;
    transition: all 0.3s ease;
    height: auto;
    padding-bottom: 56.25%;
  }

  &__video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__video-poster-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    object-fit: cover;
    transition: all 0.3s ease;
    overflow: hidden;
    &.disabled {
      opacity: 0;
      z-index: -1;
    }
  }

  &__video-poster-img {
    width: 100%;
    height: 100%;
  }

  &__video-button {
    @include reset-btn();
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 20;

    width: 60px;
    &:hover, &:focus {
      .packing-list__video-icon-main {
        fill: black;
      }
      .packing-list__video-icon-shape {
        fill: #fff;
      }
    }
    &.disabled {
      opacity: 0;
      z-index: -1;
      visibility: hidden;
    }
  }

  &__video-icon {
    font-size: 60px;
    &-main {
      transition: all 0.3s ease;
    }
    &-shape {
      transition: all 0.3s ease;
    }
  }

  &__img-wrapper {
    position: relative;
    width: auto;
    width: 417px;
    flex: 0 1 417px;
    @include media("<=991px") {
      order: -1;
      width: 100%;
      max-width: 300px;
      flex: 1 1 auto;
      margin: 0 auto 20px auto;
    }
  }

  &__img {
  }
}
